body{color:#111212}.content-question a,.content-answer a{color:#206783;font-weight:600;text-decoration:none}.content-question a:hover,.content-question a:focus,.content-answer a:hover,.content-answer a:focus,{text-decoration:underline}.zingtree-node h3{color:#206783}.node-question-text{color:#2c8aaa;font-weight:700}.btn-zingtree{border:0;font-weight:700}.btn-zingtree:focus,.btn-zingtree:active:focus,.btn-zingtree.active:focus{outline:0}.button-node .btn-zingtree{background:#206783;color:#fff}.button-node .btn-zingtree:hover,.btn-zingtree:focus,.btn-zingtree:active,.btn-zingtree.active,.open>.dropdown-toggle.btn-zingtree{background:#206783;opacity:.8}.panel-primary{border-color:#206783;margin-left:1px;//fixesweirdChromeissueofoccasionalmissingbordersmargin-bottom:1px;//fixesweirdChromeissueofoccasionalmissingborders}.panel-primary .btn-zingtree:hover{background:#def0f7}.panel-primary>.panel-heading{color:#fff;background-color:#206783;//nodetitleborder-color:#206783}.list-group-item-question{background-color:#2c8aaa;//questionareaborder-bottom:0}a.list-group-item:hover{background-color:#def0f7;//panelhover}.panel>.list-group:last-child .list-group-item:last-child{border-bottom:0;border-bottom-right-radius:0;border-bottom-left-radius:0}.list-group-item-question h4,.panels-node-title h3{color:#fff}.fa-chevron-right:before{color:#2c8aaa}.persistent-buttons .btn-default{color:#206783;background-color:#fff;border:2px solid #206783}.persistent-buttons .btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default{color:#206783;background-color:#def0f7;border-color:#206783}.persistent-buttons .btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default{background-image:none}
    
/* reverse position of buttons and content */

/* for panels style */

.panels-node   { display: flex; flex-direction: column; }
.panels-node-title { order: 1; }
.panels-node-question { order: 2; }
.panels-node-content { order: 3; }

/* for buttons style */

.button-node   { display: flex; flex-direction: column; }
.button-node-title { order: 1; }
.button-node-question { order: 2; }
.button-node-content { order: 3; }




.panel{ box-shadow: none; border: 0; background: #f0f0f0; font-family: "Open Sans", Helvetica, Arial; text-align: center; }

#question_area .list-group-item { background: #0075C9; }

#question_area .answers{ margin: 25px 0; }

i.fa.fa-chevron-right{
  display: none;
}
.btn-zingtree{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px !important;
  width: 100px;
  height: auto;
  padding: 6px 12px 8px 12px !important;
  background: #fff;
  color: #0075C9 !important;
  margin: 15px;
}


