// buttons
[class^='bds-btn'],
[class*=' bds-btn'] {
  @include flex-center;

  border-radius: 22px;
  box-sizing: border-box;

  font-size: $font-size-14;
  font-weight: $font-weight-regular;
  text-decoration: none;

  height: 40px;
  width: 180px;
  padding: 6px 6px 8px 6px;

  transition: $link-transition;
}

.bds-btn {
  &:focus {
    outline: 0;
  }

  &-auto {
    width: auto !important;
    height: auto !important;
    padding: 6px 12px 8px 12px !important;
  }

  &-primary {
    color: $white;
    background-color: $blue;

    &:hover {
      color: $white;
      background-color: $dark-blue;
    }

    &:focus {
      outline: 0;
    }
  }

  &-primary-iv {
    color: $blue;
    background-color: $white;

    &:hover {
      color: $white;
      background-color: $blue;
    }

    &:focus {
      outline: 0;
    }
  }

  &-i-primary {
    color: $blue;
    background-color: $white;

    &:hover {
      color: $white;
      background-color: $blue;
    }

    &:focus {
      outline: 0;
    }
  }

  &-ghost {
    color: $white;
    border: 1px solid $white;
    background-color: transparent;

    &:hover {
      color: $black;
      background-color: $white;
    }

    &:focus {
      outline: 0;
    }
  }

  &-secondary {
    color: $white;
    background-color: $orange;

    &:hover {
      color: $white;
      background-color: $orange-85;
    }

    &:focus {
      outline: 0;
    }
  }


  &-i-secondary {
    color: $orange;
    background-color: $white;

    &:hover {
      color: $white;
      background-color: $orange;
    }

    &:focus {
      outline: 0;
    }
  }

  &-tertiary {
    color: $white;
    background-color: $green;

    &:hover {
      color: $white;
      background-color: $green-85;
    }

    &:focus {
      outline: 0;
    }
  }


  &-i-tertiary {
    color: $green;
    background-color: $white;

    &:hover {
      color: $white;
      background-color: $green;
    }

    &:focus {
      outline: 0;
    }
  }
}
