// buttons
@mixin button-creator($txt-color, $bg-color, $hover-txt-color, $hover-bg-color) {
  color: $txt-color;
  background-color: $bg-color;

  &:hover {
    color: $hover-txt-color;
    background-color: $hover-bg-color;
  }

  &:focus {
    outline: 0;
  }
}

[class^='bds-btn'],
[class*=' bds-btn'] {
  @include flex-center;

  border-radius: 22px;
  box-sizing: border-box;

  font-size: $font-size-14;
  font-weight: $font-weight-regular;
  text-decoration: none;

  height: 40px;
  width: 180px;
  padding: 6px 6px 8px 6px;

  transition: $link-transition;
}

.bds-btn {
  &:focus {
    outline: 0;
  }

  &-auto {
    width: auto !important;
    height: auto !important;
    padding: 6px 12px 8px 12px !important;
  }

  &-primary {
    @include button-creator($white, $blue, $white, $dark-blue);
  }

  &-i-primary {
    @include button-creator($blue, $white, $white, $blue);
  }

  &-ghost {
    @include button-creator($white, transparent, $black, $white);
    border: 1px solid $white;
  }

  &-secondary {
    @include button-creator($white, $orange, $white, $orange-85);
  }


  &-i-secondary {
    @include button-creator($orange, $white, $white, $orange);
  }

  &-tertiary {
    @include button-creator($white, $green, $white, $green-85);
  }


  &-i-tertiary {
    @include button-creator($green, $white, $white, $green);
  }
}
