// text
@mixin bg-color-creator ($hover: false) {
  @if $hover {
    &-white:hover { background-color: $white; }
    &-grey:hover { background-color: $grey; }
    &-grey-85:hover { background-color: $grey-85; }
    &-grey-65:hover { background-color: $grey-65; }
    &-grey-45:hover { background-color: $grey-45; }
    &-grey-15:hover { background-color: $grey-15; }
    &-grey-05:hover { background-color: $grey-05; }
    &-blue:hover { background-color: $blue; }
    &-blue-85:hover { background-color: $blue-85; }
    &-blue-65:hover { background-color: $blue-65; }
    &-blue-45:hover { background-color: $blue-45; }
    &-dark-blue:hover { background-color: $dark-blue; }
    &-dark-blue-85:hover { background-color: $dark-blue-85; }
    &-red:hover { background-color: $red; }
    &-red-85:hover { background-color: $red-85; }
    &-red-65:hover { background-color: $red-65; }
    &-green:hover { background-color: $green; }
    &-green-85:hover { background-color: $green-85; }
    &-green-65:hover { background-color: $green-65; }
    &-orange:hover { background-color: $orange; }
    &-orange-85:hover { background-color: $orange-85; }
    &-orange-65:hover { background-color: $orange-65; }
    &-purple:hover { background-color: $purple; }
    &-purple-85:hover { background-color: $purple-85; }
    &-purple-65:hover { background-color: $purple-65; }
    &-white:hover { background-color: $white; }
    &-black:hover { background-color: $black; }
  } @else {
    &-white { background-color: $white; }
    &-grey { background-color: $grey; }
    &-grey-85 { background-color: $grey-85; }
    &-grey-65 { background-color: $grey-65; }
    &-grey-45 { background-color: $grey-45; }
    &-grey-15 { background-color: $grey-15; }
    &-grey-05 { background-color: $grey-05; }
    &-blue { background-color: $blue; }
    &-blue-85 { background-color: $blue-85; }
    &-blue-65 { background-color: $blue-65; }
    &-blue-45 { background-color: $blue-45; }
    &-dark-blue { background-color: $dark-blue; }
    &-dark-blue-85 { background-color: $dark-blue-85; }
    &-red { background-color: $red; }
    &-red-85 { background-color: $red-85; }
    &-red-65 { background-color: $red-65; }
    &-green { background-color: $green; }
    &-green-85 { background-color: $green-85; }
    &-green-65 { background-color: $green-65; }
    &-orange { background-color: $orange; }
    &-orange-85 { background-color: $orange-85; }
    &-orange-65 { background-color: $orange-65; }
    &-purple { background-color: $purple; }
    &-purple-85 { background-color: $purple-85; }
    &-purple-65 { background-color: $purple-65; }
    &-white { background-color: $white; }
    &-black { background-color: $black; }
  }
}

// text
@mixin txt-color-creator ($hover: false) {
  @if $hover {
    &-white:hover { color: $white;}
    &-grey:hover { color: $grey;}
    &-grey-85:hover { color: $grey-85; }
    &-grey-65:hover { color: $grey-65; }
    &-grey-45:hover { color: $grey-45; }
    &-grey-15:hover { color: $grey-15; }
    &-grey-05:hover { color: $grey-05; }
    &-blue:hover { color: $blue; }
    &-blue-85:hover { color: $blue-85; }
    &-blue-65:hover { color: $blue-65; }
    &-blue-45:hover { color: $blue-45; }
    &-dark-blue:hover { color: $dark-blue; }
    &-dark-blue-85:hover { color: $dark-blue-85; }
    &-red:hover { color: $red; }
    &-red-85:hover { color: $red-85; }
    &-red-65:hover { color: $red-65; }
    &-green:hover { color: $green; }
    &-green-85:hover { color: $green-85; }
    &-green-65:hover { color: $green-65; }
    &-orange:hover { color: $orange; }
    &-orange-85:hover { color: $orange-85; }
    &-orange-65:hover { color: $orange-65; }
    &-purple:hover { color: $purple; }
    &-purple-85:hover { color: $purple-85; }
    &-purple-65:hover { color: $purple-65; }
    &-white:hover { color: $white; }
    &-black:hover { color: $black; }
  } @else {
    &-white { color: $white; }
    &-grey { color: $grey; }
    &-grey-85 { color: $grey-85; }
    &-grey-65 { color: $grey-65; }
    &-grey-45 { color: $grey-45; }
    &-grey-15 { color: $grey-15; }
    &-grey-05 { color: $grey-05; }
    &-blue { color: $blue; }
    &-blue-85 { color: $blue-85; }
    &-blue-65 { color: $blue-65; }
    &-blue-45 { color: $blue-45; }
    &-dark-blue { color: $dark-blue; }
    &-dark-blue-85 { color: $dark-blue-85; }
    &-red { color: $red; }
    &-red-85 { color: $red-85; }
    &-red-65 { color: $red-65; }
    &-green { color: $green; }
    &-green-85 { color: $green-85; }
    &-green-65 { color: $green-65; }
    &-orange { color: $orange; }
    &-orange-85 { color: $orange-85; }
    &-orange-65 { color: $orange-65; }
    &-purple { color: $purple; }
    &-purple-85 { color: $purple-85; }
    &-purple-65 { color: $purple-65; }
    &-white { color: $white; }
    &-black { color: $black; }
  }
}

.bds-txt { @include txt-color-creator; }

.bds-bg { @include bg-color-creator; }

// border color
[class^='bds-border'],
[class*=' bds-border'] {
  border: 1px;
  border-style: solid;
}

.bds-border {
  &-white { border-color: $white; }
  &-grey { border-color: $grey; }
  &-grey-85 { border-color: $grey-85; }
  &-grey-65 { border-color: $grey-65; }
  &-grey-45 { border-color: $grey-45; }
  &-grey-15 { border-color: $grey-15; }
  &-grey-05 { border-color: $grey-05; }
  &-blue { border-color: $blue; }
  &-blue-85 { border-color: $blue-85; }
  &-blue-65 { border-color: $blue-65; }
  &-blue-45 { border-color: $blue-45; }
  &-dark-blue { border-color: $dark-blue; }
  &-dark-blue-85 { border-color: $dark-blue-85; }
  &-red { border-color: $red; }
  &-red-85 { border-color: $red-85; }
  &-red-65 { border-color: $red-65; }
  &-green { border-color: $green; }
  &-green-85 { border-color: $green-85; }
  &-green-65 { border-color: $green-65; }
  &-orange { border-color: $orange; }
  &-orange-85 { border-color: $orange-85; }
  &-orange-65 { border-color: $orange-65; }
  &-purple { border-color: $purple; }
  &-purple-85 { border-color: $purple-85; }
  &-purple-65 { border-color: $purple-65; }
  &-white { border-color: $white; }
  &-black { border-color: $black; }
}


// hover background color
.bds-hov {
  &-bg { @include bg-color-creator(true); }

  &-txt { @include txt-color-creator(true); }
}

@media (min-width:992px) {
  .bds-bg-lg { @include bg-color-creator; }
}
