// global
$min-width: 300px;
$max-width: 1200px;
$min-font: 11px;
$max-font: 35.2px;

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;

      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }

    }
  }
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;

  @media (max-width: 768px){
    @include fluid-type($min-width, $max-width, $min-font, $max-font);
  }
}


*,
html,
button,
input,
select,
textarea { font-family: $font-family; }

// normalize, Add the correct display in IE 9-.
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

img {
  max-width: 100%;
  border-style: none; // normalize, remove border on imgs in IE10
}

svg:not(:root) {
  overflow: hidden; // normalize, Hide the overflow in IE.
}

hr {
  box-sizing: content-box; // nromalize. Add the correct box sizing in Firefox.
  height: 0;
  overflow: visible; // normalize, show overflow in edfe & ie
}

a,
textarea,
input,
button { outline: none; }
