// spacing
.bds-space {
  &-xxs { height: $spacing-xxs; width: $spacing-xxs; }
  &-xs { height: $spacing-xs; width: $spacing-xs; }
  &-sm { height: $spacing-s; width: $spacing-s; }
  &-md { height: $spacing-md; width: $spacing-md; }
  &-lg { height: $spacing-lg; width: $spacing-lg; }
  &-xl { height: $spacing-xl; width: $spacing-xl; }
  &-xxl { height: $spacing-xxl; width: $spacing-xxl; }
}

@mixin padding-setter ($side: all) {
  @if $side == all {
    &-0 { padding: 0; }
    &-xxs { padding: $spacing-xxs; }
    &-xs { padding: $spacing-xs; }
    &-sm { padding: $spacing-s; }
    &-md { padding: $spacing-md; }
    &-lg { padding: $spacing-lg; }
    &-xl { padding: $spacing-xl; }
    &-xxl { padding: $spacing-xxl; }
  } @else if $side == top {
    &-0 { padding-top: 0; }
    &-xxs { padding-top: $spacing-xxs; }
    &-xs { padding-top: $spacing-xs; }
    &-sm { padding-top: $spacing-s; }
    &-md { padding-top: $spacing-md; }
    &-lg { padding-top: $spacing-lg; }
    &-xl { padding-top: $spacing-xl; }
    &-xxl { padding-top: $spacing-xxl; }
  } @else if $side == bottom {
    &-0 { padding-bottom: 0; }
    &-xxs { padding-bottom: $spacing-xxs; }
    &-xs { padding-bottom: $spacing-xs; }
    &-sm { padding-bottom: $spacing-s; }
    &-md { padding-bottom: $spacing-md; }
    &-lg { padding-bottom: $spacing-lg; }
    &-xl { padding-bottom: $spacing-xl; }
    &-xxl { padding-bottom: $spacing-xxl; }
  } @else if $side == left {
    &-0 { padding-left: 0; }
    &-xxs { padding-left: $spacing-xxs; }
    &-xs { padding-left: $spacing-xs; }
    &-sm { padding-left: $spacing-s; }
    &-md { padding-left: $spacing-md; }
    &-lg { padding-left: $spacing-lg; }
    &-xl { padding-left: $spacing-xl; }
    &-xxl { padding-left: $spacing-xxl; }
  } @else if $side == right {
    &-0 { padding-right: 0; }
    &-xxs { padding-right: $spacing-xxs; }
    &-xs { padding-right: $spacing-xs; }
    &-sm { padding-right: $spacing-s; }
    &-md { padding-right: $spacing-md; }
    &-lg { padding-right: $spacing-lg; }
    &-xl { padding-right: $spacing-xl; }
    &-xxl { padding-right: $spacing-xxl; }
  } @else if $side == y-axis {
    &-0 { padding-top: 0; padding-bottom: 0; }
    &-xxs { padding-top: $spacing-xxs; padding-bottom: $spacing-xxs; }
    &-xs { padding-top: $spacing-xs; padding-bottom: $spacing-xs; }
    &-sm { padding-top: $spacing-s; padding-bottom: $spacing-s; }
    &-md { padding-top: $spacing-md; padding-bottom: $spacing-md; }
    &-lg { padding-top: $spacing-lg; padding-bottom: $spacing-lg; }
    &-xl { padding-top: $spacing-xl; padding-bottom: $spacing-xl; }
    &-xxl { padding-top: $spacing-xxl; padding-bottom: $spacing-xxl; }
  } @else if $side == x-axis {
    &-0 { padding-left: 0; padding-right: 0; }
    &-xxs { padding-left: $spacing-xxs; padding-right: $spacing-xxs; }
    &-xs { padding-left: $spacing-xs; padding-right: $spacing-xs; }
    &-sm { padding-left: $spacing-s; padding-right: $spacing-s; }
    &-md { padding-left: $spacing-md; padding-right: $spacing-md; }
    &-lg { padding-left: $spacing-lg; padding-right: $spacing-lg; }
    &-xl { padding-left: $spacing-xl; padding-right: $spacing-xl; }
    &-xxl { padding-left: $spacing-xxl; padding-right: $spacing-xxl; }
  }
}

@mixin margin-setter ($side: all) {
  @if $side == all {
    &-0 { margin: 0; }
    &-xxs { margin: $spacing-xxs; }
    &-xs { margin: $spacing-xs; }
    &-sm { margin: $spacing-s; }
    &-md { margin: $spacing-md; }
    &-lg { margin: $spacing-lg; }
    &-xl { margin: $spacing-xl; }
    &-xxl { margin: $spacing-xxl; }
  } @else if $side == top {
    &-0 { margin-top: 0; }
    &-xxs { margin-top: $spacing-xxs; }
    &-xs { margin-top: $spacing-xs; }
    &-sm { margin-top: $spacing-s; }
    &-md { margin-top: $spacing-md; }
    &-lg { margin-top: $spacing-lg; }
    &-xl { margin-top: $spacing-xl; }
    &-xxl { margin-top: $spacing-xxl; }
  } @else if $side == bottom {
    &-0 { margin-bottom: 0; }
    &-xxs { margin-bottom: $spacing-xxs; }
    &-xs { margin-bottom: $spacing-xs; }
    &-sm { margin-bottom: $spacing-s; }
    &-md { margin-bottom: $spacing-md; }
    &-lg { margin-bottom: $spacing-lg; }
    &-xl { margin-bottom: $spacing-xl; }
    &-xxl { margin-bottom: $spacing-xxl; }
  } @else if $side == left {
    &-0 { margin-left: 0; }
    &-xxs { margin-left: $spacing-xxs; }
    &-xs { margin-left: $spacing-xs; }
    &-sm { margin-left: $spacing-s; }
    &-md { margin-left: $spacing-md; }
    &-lg { margin-left: $spacing-lg; }
    &-xl { margin-left: $spacing-xl; }
    &-xxl { margin-left: $spacing-xxl; }
  } @else if $side == right {
    &-0 { margin-right: 0; }
    &-xxs { margin-right: $spacing-xxs; }
    &-xs { margin-right: $spacing-xs; }
    &-sm { margin-right: $spacing-s; }
    &-md { margin-right: $spacing-md; }
    &-lg { margin-right: $spacing-lg; }
    &-xl { margin-right: $spacing-xl; }
    &-xxl { margin-right: $spacing-xxl; }
  } @else if $side == y-axis {
    &-0 { margin-top: 0; margin-bottom: 0; }
    &-xxs { margin-top: $spacing-xxs; margin-bottom: $spacing-xxs; }
    &-xs { margin-top: $spacing-xs; margin-bottom: $spacing-xs; }
    &-sm { margin-top: $spacing-s; margin-bottom: $spacing-s; }
    &-md { margin-top: $spacing-md; margin-bottom: $spacing-md; }
    &-lg { margin-top: $spacing-lg; margin-bottom: $spacing-lg; }
    &-xl { margin-top: $spacing-xl; margin-bottom: $spacing-xl; }
    &-xxl { margin-top: $spacing-xxl; margin-bottom: $spacing-xxl; }
  } @else if $side == x-axis {
    &-0 { margin-left: 0; margin-right: 0; }
    &-xxs { margin-left: $spacing-xxs; margin-right: $spacing-xxs; }
    &-xs { margin-left: $spacing-xs; margin-right: $spacing-xs; }
    &-sm { margin-left: $spacing-s; margin-right: $spacing-s; }
    &-md { margin-left: $spacing-md; margin-right: $spacing-md; }
    &-lg { margin-left: $spacing-lg; margin-right: $spacing-lg; }
    &-xl { margin-left: $spacing-xl; margin-right: $spacing-xl; }
    &-xxl { margin-left: $spacing-xxl; margin-right: $spacing-xxl; }
  }
}

@mixin padding-creator {
  @include padding-setter(all);

  &-all { @include padding-setter(all); }

  &-t { @include padding-setter(top); }

  &-b { @include padding-setter(bottom); }

  &-l { @include padding-setter(left); }

  &-r { @include padding-setter(right); }

  &-x { @include padding-setter(x-axis); }

  &-y { @include padding-setter(y-axis); }
}

@mixin margin-creator {
  @include margin-setter(all);
  &-all { @include margin-setter(all); }
  &-t { @include margin-setter(top); }
  &-b { @include margin-setter(bottom); }
  &-l { @include margin-setter(left); }
  &-r { @include margin-setter(right); }
  &-x { @include margin-setter(x-axis); }
  &-y { @include margin-setter(y-axis); }
}

.bds-pad { @include padding-creator; }

.bds-marg { @include margin-creator; }

@media (min-width: 992px) {

  .bds-pad-lg { @include padding-creator; }
  .bds-marg-lg { @include margin-creator; }
}

@media (min-width: 768px) {

  .bds-pad-md { @include padding-creator; }
  .bds-marg-md { @include margin-creator; }
}
