@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

// breakpoints
$sm-bkpt: 480px;
$md-bkpt: 768px;
$lg-bkpt: 992px;
$xl-bkpt: 1200px;

// font family & weight
$font-family: "Open Sans", Helvetica, Arial;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-height: 1.9rem;
$link-transition: background-color 160ms linear, color 160ms linear, border-color 160ms linear;

// font size
$font-size-11: .6875rem;
$font-size-12: .75rem;
$font-size-14: .875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-22: 1.37rem;
$font-size-24: 1.5rem;
$font-size-34: 2.25rem;
$font-size-40: 2.5rem;
$font-size-44: 2.75rem;

// colors
$white: #ffffff;
$grey: #333E48;
$grey-85: #4E5760;
$grey-65: #757C83;
$grey-45: #9EA2A7;
$grey-15: #e3e2e2;
$grey-05: #f0f0f0;
$blue: #0075C9;
$blue-85: #0088D1;
$blue-65: #4DA3DC;
$blue-45: #8DBEE7;
$dark-blue: #004876;
$dark-blue-85: #356189;
$red: #F42534;
$red-85: #FC564F;
$red-65: #ff988a;
$green: #00bd70;
$green-85: #00c884;
$green-65: #5fd6a0;
$orange: #ff9e16;
$orange-85: #ffad45;
$orange-65: #ffc072;
$purple: #8547ad;
$purple-85: #9862b9;
$purple-65: #b388cb;
$white: #fff;
$black: #000;

// spacing
$spacing-xxs: .5rem;
$spacing-xs: 1rem;
$spacing-s: 1.5rem;
$spacing-sm: 1.5rem;
$spacing-md: 2rem;
$spacing-lg: 3rem;
$spacing-xl: 4.2rem;
$spacing-xxl: 5.5rem;
