/*spacing*/
.bds-space{
  &-xxs{ height:$spacing-xxs; width:$spacing-xxs; }
  &-xs{ height:$spacing-xs; width:$spacing-xs; }
  &-sm{ height:$spacing-s; width:$spacing-s; }
  &-md{ height:$spacing-md; width:$spacing-md; }
  &-lg{ height:$spacing-lg; width:$spacing-lg; }
  &-xl{ height:$spacing-xl; width:$spacing-xl; }
  &-xxl{ height:$spacing-xxl; width:$spacing-xxl; }
}

.bds-pad{
  &-all{
    &-xxs{ padding:$spacing-xxs; }
    &-xs{ padding:$spacing-xs; }
    &-sm{ padding:$spacing-s; }
    &-md{ padding:$spacing-md; }
    &-lg{ padding:$spacing-lg; }
    &-xl{ padding:$spacing-xl; }
    &-xxl{ padding:$spacing-xxl; }
  }
  &-t{
    &-xxs{ padding-top:$spacing-xxs; }
    &-xs{ padding-top:$spacing-xs; }
    &-sm{ padding-top:$spacing-s; }
    &-md{ padding-top:$spacing-md; }
    &-lg{ padding-top:$spacing-lg; }
    &-xl{ padding-top:$spacing-xl; }
    &-xxl{ padding-top:$spacing-xxl; }
  }
  &-b{
    &-xxs{ padding-bottom:$spacing-xxs; }
    &-xs{ padding-bottom:$spacing-xs; }
    &-sm{ padding-bottom:$spacing-s; }
    &-md{ padding-bottom:$spacing-md; }
    &-lg{ padding-bottom:$spacing-lg; }
    &-xl{ padding-bottom:$spacing-xl; }
    &-xxl{ padding-bottom:$spacing-xxl; }
  }
  &-y{
    &-xxs{ padding-top:$spacing-xxs; padding-bottom:$spacing-xxs; }
    &-xs{ padding-top:$spacing-xs; padding-bottom:$spacing-xs; }
    &-sm{ padding-top:$spacing-s; padding-bottom:$spacing-s; }
    &-md{ padding-top:$spacing-md; padding-bottom:$spacing-md; }
    &-lg{ padding-top:$spacing-lg; padding-bottom:$spacing-lg; }
    &-xl{ padding-top:$spacing-xl; padding-bottom:$spacing-xl; }
    &-xxl{ padding-top:$spacing-xxl; padding-bottom:$spacing-xxl; }
  }
  &-l{
    &-xxs{ padding-left:$spacing-xxs; }
    &-xs{ padding-left:$spacing-xs; }
    &-sm{ padding-left:$spacing-s; }
    &-md{ padding-left:$spacing-md; }
    &-lg{ padding-left:$spacing-lg; }
    &-xl{ padding-left:$spacing-xl; }
    &-xxl{ padding-left:$spacing-xxl; }
  }
  &-r{
    &-xxs{ padding-right:$spacing-xxs; }
    &-xs{ padding-right:$spacing-xs; }
    &-sm{ padding-right:$spacing-s; }
    &-md{ padding-right:$spacing-md; }
    &-lg{ padding-right:$spacing-lg; }
    &-xl{ padding-right:$spacing-xl; }
    &-xxl{ padding-right:$spacing-xxl; }
  }
  &-x{
    &-xxs{ padding-left:$spacing-xxs; padding-right:$spacing-xxs; }
    &-xs{ padding-left:$spacing-xs; padding-right:$spacing-xs; }
    &-sm{ padding-left:$spacing-s; padding-right:$spacing-s; }
    &-md{ padding-left:$spacing-md; padding-right:$spacing-md; }
    &-lg{ padding-left:$spacing-lg; padding-right:$spacing-lg; }
    &-xl{ padding-left:$spacing-xl; padding-right:$spacing-xl; }
    &-xxl{ padding-left:$spacing-xxl; padding-right:$spacing-xxl; }
  }
}

.bds-marg{
  &-all{
    &-xxs{ margin:$spacing-xxs; }
    &-xs{ margin:$spacing-xs; }
    &-sm{ margin:$spacing-s; }
    &-md{ margin:$spacing-md; }
    &-lg{ margin:$spacing-lg; }
    &-xl{ margin:$spacing-xl; }
    &-xxl{ margin:$spacing-xxl; }
  }
  &-t{
    &-xxs{ margin-top:$spacing-xxs; }
    &-xs{ margin-top:$spacing-xs; }
    &-sm{ margin-top:$spacing-s; }
    &-md{ margin-top:$spacing-md; }
    &-lg{ margin-top:$spacing-lg; }
    &-xl{ margin-top:$spacing-xl; }
    &-xxl{ margin-top:$spacing-xxl; }
  }
  &-b{
    &-xxs{ margin-bottom:$spacing-xxs; }
    &-xs{ margin-bottom:$spacing-xs; }
    &-sm{ margin-bottom:$spacing-s; }
    &-md{ margin-bottom:$spacing-md; }
    &-lg{ margin-bottom:$spacing-lg; }
    &-xl{ margin-bottom:$spacing-xl; }
    &-xxl{ margin-bottom:$spacing-xxl; }
  }
  &-y{
   &-xxs{ margin-top:$spacing-xxs; margin-bottom:$spacing-xxs; }
    &-xs{ margin-top:$spacing-xs; margin-bottom:$spacing-xs; }
    &-sm{ margin-top:$spacing-s; margin-bottom:$spacing-s; }
    &-md{ margin-top:$spacing-md; margin-bottom:$spacing-md; }
    &-lg{ margin-top:$spacing-lg; margin-bottom:$spacing-lg; }
    &-xl{ margin-top:$spacing-xl; margin-bottom:$spacing-xl; }
    &-xxl{ margin-top:$spacing-xxl; margin-bottom:$spacing-xxl; }
  }
  &-l{
    &-xxs{ margin-left:$spacing-xxs; }
    &-xs{ margin-left:$spacing-xs; }
    &-sm{ margin-left:$spacing-s; }
    &-md{ margin-left:$spacing-md; }
    &-lg{ margin-left:$spacing-lg; }
    &-xl{ margin-left:$spacing-xl; }
    &-xxl{ margin-left:$spacing-xxl; }
  }
  &-r{
    &-xxs{ margin-right:$spacing-xxs; }
    &-xs{ margin-right:$spacing-xs; }
    &-sm{ margin-right:$spacing-s; }
    &-md{ margin-right:$spacing-md; }
    &-lg{ margin-right:$spacing-lg; }
    &-xl{ margin-right:$spacing-xl; }
    &-xxl{ margin-right:$spacing-xxl; }
  }
  &-x{
    &-xxs{ margin-left:$spacing-xxs; margin-right:$spacing-xxs; }
    &-xs{ margin-left:$spacing-xs; margin-right:$spacing-xs; }
    &-sm{ margin-left:$spacing-s; margin-right:$spacing-s; }
    &-md{ margin-left:$spacing-md; margin-right:$spacing-md; }
    &-lg{ margin-left:$spacing-lg; margin-right:$spacing-lg; }
    &-xl{ margin-left:$spacing-xl; margin-right:$spacing-xl; }
    &-xxl{ margin-left:$spacing-xxl; margin-right:$spacing-xxl; }
  }
}