@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
/*breakpoints*/
/*font family & weight */
/*font size*/
/*colors*/
/*spacing*/
/*global*/
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%; }

*, html, button, input, select, textarea {
  font-family: "Open Sans", Helvetica, Arial;
  color: #333E48; }

img {
  max-width: 100%; }

.bds-container {
  width: 1200px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto; }

.bds-col, .bds-col-1, .bds-col-2, .bds-col-3, .bds-col-4, .bds-col-5, .bds-col-6, .bds-col-7, .bds-col-8, .bds-col-9, .bds-col-10, .bds-col-11, .bds-col-12, .bds-col-xs-1, .bds-col-sm-1, .bds-col-md-1, .bds-col-lg-1, .bds-col-xs-2, .bds-col-sm-2, .bds-col-md-2, .bds-col-lg-2, .bds-col-xs-3, .bds-col-sm-3, .bds-col-md-3, .bds-col-lg-3, .bds-col-xs-4, .bds-col-sm-4, .bds-col-md-4, .bds-col-lg-4, .bds-col-xs-5, .bds-col-sm-5, .bds-col-md-5, .bds-col-lg-5, .bds-col-xs-6, .bds-col-sm-6, .bds-col-md-6, .bds-col-lg-6, .bds-col-xs-7, .bds-col-sm-7, .bds-col-md-7, .bds-col-lg-7, .bds-col-xs-8, .bds-col-sm-8, .bds-col-md-8, .bds-col-lg-8, .bds-col-xs-9, .bds-col-sm-9, .bds-col-md-9, .bds-col-lg-9, .bds-col-xs-10, .bds-col-sm-10, .bds-col-md-10, .bds-col-lg-10, .bds-col-xs-11, .bds-col-sm-11, .bds-col-md-11, .bds-col-lg-11, .bds-col-xs-12, .bds-col-sm-12, .bds-col-md-12, .bds-col-lg-12 {
  position: relative;
  min-height: 1px; }

.bds-col, .bds-col-1, .bds-col-2, .bds-col-3, .bds-col-4, .bds-col-5, .bds-col-6, .bds-col-7, .bds-col-8, .bds-col-9, .bds-col-10, .bds-col-11, .bds-col-12, .bds-col-xs-1, .bds-col-xs-2, .bds-col-xs-3, .bds-col-xs-4, .bds-col-xs-5, .bds-col-xs-6, .bds-col-xs-7, .bds-col-xs-8, .bds-col-xs-9, .bds-col-xs-10, .bds-col-xs-11, .bds-col-xs-12 {
  float: left; }

.bds-col-1 {
  width: 8.333333%; }

.bds-col-2 {
  width: 16.666667%; }

.bds-col-3 {
  width: 25%; }

.bds-col-4 {
  width: 33.333333%; }

.bds-col-5 {
  width: 41.666667%; }

.bds-col-6 {
  width: 50%; }

.bds-col-7 {
  width: 58.333333%; }

.bds-col-8 {
  width: 66.666667%; }

.bds-col-9 {
  width: 75%; }

.bds-col-10 {
  width: 83.333333%; }

.bds-col-11 {
  width: 91.666667%; }

.bds-col-12 {
  width: 100%; }

@media (min-width: 480px) {
  .bds-col, .bds-col-sm-1, .bds-col-sm-2, .bds-col-sm-3, .bds-col-sm-4, .bds-col-sm-5, .bds-col-sm-6, .bds-col-sm-7, .bds-col-sm-8, .bds-col-sm-9, .bds-col-sm-10, .bds-col-sm-11, .bds-col-sm-12 {
    float: left; }

  .bds-col-sm-12 {
    width: 100%; }

  .bds-col-sm-11 {
    width: 91.66666667%; }

  .bds-col-sm-10 {
    width: 83.33333333%; }

  .bds-col-sm-9 {
    width: 75%; }

  .bds-col-sm-8 {
    width: 66.66666667%; }

  .bds-col-sm-7 {
    width: 58.33333333%; }

  .bds-col-sm-6 {
    width: 50%; }

  .bds-col-sm-5 {
    width: 41.66666667%; }

  .bds-col-sm-4 {
    width: 33.33333333%; }

  .bds-col-sm-3 {
    width: 25%; }

  .bds-col-sm-2 {
    width: 16.66666667%; }

  .bds-col-sm-1 {
    width: 8.33333333%; }

  .bds-col-sm-offset-12 {
    margin-left: 100%; }

  .bds-col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .bds-col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .bds-col-sm-offset-9 {
    margin-left: 75%; }

  .bds-col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .bds-col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .bds-col-sm-offset-6 {
    margin-left: 50%; }

  .bds-col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .bds-col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .bds-col-sm-offset-3 {
    margin-left: 25%; }

  .bds-col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .bds-col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .bds-col-sm-offset-0 {
    margin-left: 0%; } }
@media (min-width: 768px) {
  .bds-col, .bds-col-md-1, .bds-col-md-2, .bds-col-md-3, .bds-col-md-4, .bds-col-md-5, .bds-col-md-6, .bds-col-md-7, .bds-col-md-8, .bds-col-md-9, .bds-col-md-10, .bds-col-md-11, .bds-col-md-12 {
    float: left; }

  .bds-col-md-12 {
    width: 100%; }

  .bds-col-md-11 {
    width: 91.66666667%; }

  .bds-col-md-10 {
    width: 83.33333333%; }

  .bds-col-md-9 {
    width: 75%; }

  .bds-col-md-8 {
    width: 66.66666667%; }

  .bds-col-md-7 {
    width: 58.33333333%; }

  .bds-col-md-6 {
    width: 50%; }

  .bds-col-md-5 {
    width: 41.66666667%; }

  .bds-col-md-4 {
    width: 33.33333333%; }

  .bds-col-md-3 {
    width: 25%; }

  .bds-col-md-2 {
    width: 16.66666667%; }

  .bds-col-md-1 {
    width: 8.33333333%; }

  .bds-col-md-offset-12 {
    margin-left: 100%; }

  .bds-col-md-offset-11 {
    margin-left: 91.66666667%; }

  .bds-col-md-offset-10 {
    margin-left: 83.33333333%; }

  .bds-col-md-offset-9 {
    margin-left: 75%; }

  .bds-col-md-offset-8 {
    margin-left: 66.66666667%; }

  .bds-col-md-offset-7 {
    margin-left: 58.33333333%; }

  .bds-col-md-offset-6 {
    margin-left: 50%; }

  .bds-col-md-offset-5 {
    margin-left: 41.66666667%; }

  .bds-col-md-offset-4 {
    margin-left: 33.33333333%; }

  .bds-col-md-offset-3 {
    margin-left: 25%; }

  .bds-col-md-offset-2 {
    margin-left: 16.66666667%; }

  .bds-col-md-offset-1 {
    margin-left: 8.33333333%; }

  .bds-col-md-offset-0 {
    margin-left: 0%; } }
@media (min-width: 992px) {
  .bds-col, .bds-col-lg-1, .bds-col-lg-2, .bds-col-lg-3, .bds-col-lg-4, .bds-col-lg-5, .bds-col-lg-6, .bds-col-lg-7, .bds-col-lg-8, .bds-col-lg-9, .bds-col-lg-10, .bds-col-lg-11, .bds-col-lg-12 {
    float: left; }

  .bds-col-lg-12 {
    width: 100%; }

  .bds-col-lg-11 {
    width: 91.66666667%; }

  .bds-col-lg-10 {
    width: 83.33333333%; }

  .bds-col-lg-9 {
    width: 75%; }

  .bds-col-lg-8 {
    width: 66.66666667%; }

  .bds-col-lg-7 {
    width: 58.33333333%; }

  .bds-col-lg-6 {
    width: 50%; }

  .bds-col-lg-5 {
    width: 41.66666667%; }

  .bds-col-lg-4 {
    width: 33.33333333%; }

  .bds-col-lg-3 {
    width: 25%; }

  .bds-col-lg-2 {
    width: 16.66666667%; }

  .bds-col-lg-1 {
    width: 8.33333333%; }

  .bds-col-lg-offset-12 {
    margin-left: 100%; }

  .bds-col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .bds-col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .bds-col-lg-offset-9 {
    margin-left: 75%; }

  .bds-col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .bds-col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .bds-col-lg-offset-6 {
    margin-left: 50%; }

  .bds-col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .bds-col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .bds-col-lg-offset-3 {
    margin-left: 25%; }

  .bds-col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .bds-col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .bds-col-lg-offset-0 {
    margin-left: 0%; } }
.clearfix,
.clearfix:before,
.clearfix:after,
.bds-container:before,
.bds-container:after,
.bds-container-fluid:before,
.bds-container-fluid:after,
.bds-row:before,
.bds-row:after {
  content: " ";
  display: table; }

.clearfix:after,
.bds-container:after,
.bds-container-fluid:after,
.bds-row:after {
  clear: both; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  font-weight: 400; }

p {
  font-weight: 400;
  line-height: 1.9rem;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400; }

h1, .bds-h1 {
  font-size: 2.75rem; }

h2, .bds-h2 {
  font-size: 2.5rem; }

h3, .bds-h3 {
  font-size: 2.25rem; }

h4, .bds-h4 {
  font-size: 1.5rem; }

h5, .bds-h5 {
  font-size: 1.37rem; }

h6, .bds-h6 {
  font-size: 1.25rem; }

.bds-b1 {
  font-size: 1.125rem; }
.bds-b2 {
  font-size: 1rem; }
.bds-b3 {
  font-size: 0.875rem; }
.bds-b4 {
  font-size: 0.75rem; }
.bds-l1 {
  font-size: 0.6875rem; }

.bds-txt-44 {
  font-size: 2.75rem; }
.bds-txt-40 {
  font-size: 2.5rem; }
.bds-txt-34 {
  font-size: 2.25rem; }
.bds-txt-24 {
  font-size: 1.5rem; }
.bds-txt-22 {
  font-size: 1.37rem; }
.bds-txt-20 {
  font-size: 1.25rem; }
.bds-txt-18 {
  font-size: 1.125rem; }
.bds-txt-16 {
  font-size: 1rem; }
.bds-txt-14 {
  font-size: 0.875rem; }
.bds-txt-12 {
  font-size: 0.75rem; }
.bds-txt-11 {
  font-size: 0.6875rem; }
.bds-txt-light {
  font-weight: 300; }
.bds-txt-regular {
  font-weight: 400; }
.bds-txt-semi-bold {
  font-weight: 600; }
.bds-txt-bold {
  font-weight: 700; }

.bds-hov-txt-light:hover {
  font-weight: 300; }
.bds-hov-txt-regular:hover {
  font-weight: 400; }
.bds-hov-txt-semi-bold:hover {
  font-weight: 600; }
.bds-hov-txt-bold:hover {
  font-weight: 700; }

@media screen and (max-width: 768px) {
  h1, h2, h3, h4, h5, h6 {
    margin: 0; }

  h1, .bds-h1 {
    font-size: 2.2rem; }

  h2, .bds-h2 {
    font-size: 2rem; }

  h3, .bds-h3 {
    font-size: 1.8rem; }

  h4, .bds-h4 {
    font-size: 1.2rem; }

  h5, .bds-h5 {
    font-size: 1.096rem; }

  h6, .bds-h6 {
    font-size: 1.0625rem; }

  .bds-b1 {
    font-size: 0.95625rem; }
  .bds-b2 {
    font-size: 0.9rem; }
  .bds-b3 {
    font-size: 0.7875rem; }
  .bds-b4 {
    font-size: 0.675rem; }
  .bds-l1 {
    font-size: 0.61875rem; }

  .bds-txt-44 {
    font-size: 2.2rem; }
  .bds-txt-40 {
    font-size: 2rem; }
  .bds-txt-34 {
    font-size: 1.8rem; }
  .bds-txt-24 {
    font-size: 1.2rem; }
  .bds-txt-22 {
    font-size: 1.096rem; }
  .bds-txt-20 {
    font-size: 1.0625rem; }
  .bds-txt-18 {
    font-size: 0.95625rem; }
  .bds-txt-16 {
    font-size: 0.9rem; }
  .bds-txt-14 {
    font-size: 0.7875rem; }
  .bds-txt-12 {
    font-size: 0.675rem; }
  .bds-txt-11 {
    font-size: 0.61875rem; } }
/*spacing*/
.bds-space-xxs {
  height: 0.5rem;
  width: 0.5rem; }
.bds-space-xs {
  height: 1rem;
  width: 1rem; }
.bds-space-sm {
  height: 1.5rem;
  width: 1.5rem; }
.bds-space-md {
  height: 2rem;
  width: 2rem; }
.bds-space-lg {
  height: 3rem;
  width: 3rem; }
.bds-space-xl {
  height: 4.2rem;
  width: 4.2rem; }
.bds-space-xxl {
  height: 5.5rem;
  width: 5.5rem; }

.bds-pad-all-xxs {
  padding: 0.5rem; }
.bds-pad-all-xs {
  padding: 1rem; }
.bds-pad-all-sm {
  padding: 1.5rem; }
.bds-pad-all-md {
  padding: 2rem; }
.bds-pad-all-lg {
  padding: 3rem; }
.bds-pad-all-xl {
  padding: 4.2rem; }
.bds-pad-all-xxl {
  padding: 5.5rem; }
.bds-pad-t-xxs {
  padding-top: 0.5rem; }
.bds-pad-t-xs {
  padding-top: 1rem; }
.bds-pad-t-sm {
  padding-top: 1.5rem; }
.bds-pad-t-md {
  padding-top: 2rem; }
.bds-pad-t-lg {
  padding-top: 3rem; }
.bds-pad-t-xl {
  padding-top: 4.2rem; }
.bds-pad-t-xxl {
  padding-top: 5.5rem; }
.bds-pad-b-xxs {
  padding-bottom: 0.5rem; }
.bds-pad-b-xs {
  padding-bottom: 1rem; }
.bds-pad-b-sm {
  padding-bottom: 1.5rem; }
.bds-pad-b-md {
  padding-bottom: 2rem; }
.bds-pad-b-lg {
  padding-bottom: 3rem; }
.bds-pad-b-xl {
  padding-bottom: 4.2rem; }
.bds-pad-b-xxl {
  padding-bottom: 5.5rem; }
.bds-pad-y-xxs {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }
.bds-pad-y-xs {
  padding-top: 1rem;
  padding-bottom: 1rem; }
.bds-pad-y-sm {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }
.bds-pad-y-md {
  padding-top: 2rem;
  padding-bottom: 2rem; }
.bds-pad-y-lg {
  padding-top: 3rem;
  padding-bottom: 3rem; }
.bds-pad-y-xl {
  padding-top: 4.2rem;
  padding-bottom: 4.2rem; }
.bds-pad-y-xxl {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem; }
.bds-pad-l-xxs {
  padding-left: 0.5rem; }
.bds-pad-l-xs {
  padding-left: 1rem; }
.bds-pad-l-sm {
  padding-left: 1.5rem; }
.bds-pad-l-md {
  padding-left: 2rem; }
.bds-pad-l-lg {
  padding-left: 3rem; }
.bds-pad-l-xl {
  padding-left: 4.2rem; }
.bds-pad-l-xxl {
  padding-left: 5.5rem; }
.bds-pad-r-xxs {
  padding-right: 0.5rem; }
.bds-pad-r-xs {
  padding-right: 1rem; }
.bds-pad-r-sm {
  padding-right: 1.5rem; }
.bds-pad-r-md {
  padding-right: 2rem; }
.bds-pad-r-lg {
  padding-right: 3rem; }
.bds-pad-r-xl {
  padding-right: 4.2rem; }
.bds-pad-r-xxl {
  padding-right: 5.5rem; }
.bds-pad-x-xxs {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }
.bds-pad-x-xs {
  padding-left: 1rem;
  padding-right: 1rem; }
.bds-pad-x-sm {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }
.bds-pad-x-md {
  padding-left: 2rem;
  padding-right: 2rem; }
.bds-pad-x-lg {
  padding-left: 3rem;
  padding-right: 3rem; }
.bds-pad-x-xl {
  padding-left: 4.2rem;
  padding-right: 4.2rem; }
.bds-pad-x-xxl {
  padding-left: 5.5rem;
  padding-right: 5.5rem; }

.bds-marg-all-xxs {
  margin: 0.5rem; }
.bds-marg-all-xs {
  margin: 1rem; }
.bds-marg-all-sm {
  margin: 1.5rem; }
.bds-marg-all-md {
  margin: 2rem; }
.bds-marg-all-lg {
  margin: 3rem; }
.bds-marg-all-xl {
  margin: 4.2rem; }
.bds-marg-all-xxl {
  margin: 5.5rem; }
.bds-marg-t-xxs {
  margin-top: 0.5rem; }
.bds-marg-t-xs {
  margin-top: 1rem; }
.bds-marg-t-sm {
  margin-top: 1.5rem; }
.bds-marg-t-md {
  margin-top: 2rem; }
.bds-marg-t-lg {
  margin-top: 3rem; }
.bds-marg-t-xl {
  margin-top: 4.2rem; }
.bds-marg-t-xxl {
  margin-top: 5.5rem; }
.bds-marg-b-xxs {
  margin-bottom: 0.5rem; }
.bds-marg-b-xs {
  margin-bottom: 1rem; }
.bds-marg-b-sm {
  margin-bottom: 1.5rem; }
.bds-marg-b-md {
  margin-bottom: 2rem; }
.bds-marg-b-lg {
  margin-bottom: 3rem; }
.bds-marg-b-xl {
  margin-bottom: 4.2rem; }
.bds-marg-b-xxl {
  margin-bottom: 5.5rem; }
.bds-marg-y-xxs {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }
.bds-marg-y-xs {
  margin-top: 1rem;
  margin-bottom: 1rem; }
.bds-marg-y-sm {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }
.bds-marg-y-md {
  margin-top: 2rem;
  margin-bottom: 2rem; }
.bds-marg-y-lg {
  margin-top: 3rem;
  margin-bottom: 3rem; }
.bds-marg-y-xl {
  margin-top: 4.2rem;
  margin-bottom: 4.2rem; }
.bds-marg-y-xxl {
  margin-top: 5.5rem;
  margin-bottom: 5.5rem; }
.bds-marg-l-xxs {
  margin-left: 0.5rem; }
.bds-marg-l-xs {
  margin-left: 1rem; }
.bds-marg-l-sm {
  margin-left: 1.5rem; }
.bds-marg-l-md {
  margin-left: 2rem; }
.bds-marg-l-lg {
  margin-left: 3rem; }
.bds-marg-l-xl {
  margin-left: 4.2rem; }
.bds-marg-l-xxl {
  margin-left: 5.5rem; }
.bds-marg-r-xxs {
  margin-right: 0.5rem; }
.bds-marg-r-xs {
  margin-right: 1rem; }
.bds-marg-r-sm {
  margin-right: 1.5rem; }
.bds-marg-r-md {
  margin-right: 2rem; }
.bds-marg-r-lg {
  margin-right: 3rem; }
.bds-marg-r-xl {
  margin-right: 4.2rem; }
.bds-marg-r-xxl {
  margin-right: 5.5rem; }
.bds-marg-x-xxs {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }
.bds-marg-x-xs {
  margin-left: 1rem;
  margin-right: 1rem; }
.bds-marg-x-sm {
  margin-left: 1.5rem;
  margin-right: 1.5rem; }
.bds-marg-x-md {
  margin-left: 2rem;
  margin-right: 2rem; }
.bds-marg-x-lg {
  margin-left: 3rem;
  margin-right: 3rem; }
.bds-marg-x-xl {
  margin-left: 4.2rem;
  margin-right: 4.2rem; }
.bds-marg-x-xxl {
  margin-left: 5.5rem;
  margin-right: 5.5rem; }

/*flex & positioning*/
.bds-block {
  display: block; }

.bds-inline-block {
  display: inline-block; }

.bds-float-left {
  float: left; }

.bds-float-right {
  float: right; }

.bds-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap; }

.bds-inline-flex {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  flex-wrap: wrap; }

.bds-xy-center {
  align-items: center;
  justify-content: center; }
.bds-y-center {
  align-items: center; }
.bds-space-between {
  justify-content: space-between; }
.bds-space-around {
  justify-content: space-around; }

.bds-order-1 {
  order: 1; }
.bds-order-2 {
  order: 2; }
.bds-order-3 {
  order: 3; }
.bds-order-4 {
  order: 4; }
.bds-order-5 {
  order: 5; }
@media screen and (min-width: 992px) {
  .bds-order-lg-1 {
    order: 1; }
  .bds-order-lg-2 {
    order: 2; }
  .bds-order-lg-3 {
    order: 3; }
  .bds-order-lg-4 {
    order: 4; }
  .bds-order-lg-5 {
    order: 5; } }

.clearfix {
  clear: both; }

/*positioning*/
.bds-relative {
  position: relative; }

.bds-absolute {
  position: absolute; }

.bds-fixed {
  position: fixed; }

/*z-index*/
.bds-z-index-0 {
  z-index: 0; }
.bds-z-index-1 {
  z-index: 1; }
.bds-z-index-2 {
  z-index: 2; }
.bds-z-index-3 {
  z-index: 3; }
.bds-z-index-4 {
  z-index: 4; }
.bds-z-index-5 {
  z-index: 5; }
.bds-z-index-10 {
  z-index: 10; }
.bds-z-index-100 {
  z-index: 100; }

/* text align */
.bds-txt-left {
  text-align: left; }
.bds-txt-right {
  text-align: right; }
.bds-txt-center {
  text-align: center; }

.bds-show-at-xs, .bds-show-at-sm, .bds-show-at-md, .bds-show-at-lg, .bds-show-at-xl, .bds-hide {
  display: none; }

@media screen and (min-width: 480px) {
  .bds-show-at-sm {
    display: block; }

  .bds-hide-at-sm {
    display: none; } }
@media screen and (min-width: 768px) {
  .bds-show-at-md {
    display: block; }

  .bds-hide-at-md {
    display: none; }

  .bds-txt-md-left {
    text-align: left; }
  .bds-txt-md-right {
    text-align: right; }
  .bds-txt-md-center {
    text-align: center; } }
@media screen and (min-width: 992px) {
  .bds-show-at-lg {
    display: block; }

  .bds-hide-at-lg {
    display: none; }

  .bds-txt-lg-left {
    text-align: left; }
  .bds-txt-lg-right {
    text-align: right; }
  .bds-txt-lg-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  .bds-txt-lg-justify {
    text-align: justify; } }
@media screen and (min-width: 1200px) {
  .bds-show-at-xl {
    display: block; }

  .bds-hide-at-xl {
    display: none; }

  .bds-txt-xl-left {
    text-align: left; }
  .bds-txt-xl-right {
    text-align: right; }
  .bds-txt-xl-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  .bds-txt-xl-justify {
    text-align: justify; } }
/*extra utilities*/
.bds-cursor-pointer {
  cursor: pointer; }

.bds-tl-0 {
  top: 0;
  left: 0; }

.bds-height-100 {
  height: 100%; }

.bds-width-100 {
  width: 100%; }

/*buttons*/
a[class^='bds-btn'], a[class*=' bds-btn'] {
  font-weight: 400;
  font-size: 0.875rem;
  text-decoration: none;
  height: 40px;
  width: 180px;
  padding: 6px 6px 8px 6px;
  box-sizing: border-box;
  border-radius: 22px;
  display: inline-flex !important;
  align-items: center;
  justify-content: center; }
  a[class^='bds-btn']:hover, a[class*=' bds-btn']:hover {
    transition: background-color 100ms linear, color 100ms linear;
    transition: color 100ms linear, color 100ms linear; }

.bds-btn-primary {
  color: #fff;
  background-color: #0075C9; }
  .bds-btn-primary:hover {
    background-color: #004876; }
.bds-btn-ghost {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent; }
  .bds-btn-ghost:hover {
    color: #000;
    background-color: #fff; }
.bds-btn-secondary {
  color: #fff;
  background-color: #ff9e16; }
  .bds-btn-secondary:hover {
    background-color: #ffad45; }

/*text*/
.bds-txt-grey {
  color: #333E48; }
.bds-txt-grey-85 {
  color: #4E5760; }
.bds-txt-grey-65 {
  color: #757C83; }
.bds-txt-grey-45 {
  color: #9EA2A7; }
.bds-txt-grey-15 {
  color: #e3e2e2; }
.bds-txt-grey-05 {
  color: #f0f0f0; }
.bds-txt-blue {
  color: #0075C9; }
.bds-txt-blue-85 {
  color: #0088D1; }
.bds-txt-blue-65 {
  color: #4DA3DC; }
.bds-txt-blue-45 {
  color: #8DBEE7; }
.bds-txt-dark-blue {
  color: #004876; }
.bds-txt-dark-blue-85 {
  color: #356189; }
.bds-txt-red {
  color: #F42534; }
.bds-txt-red-85 {
  color: #FC564F; }
.bds-txt-red-65 {
  color: #ff988a; }
.bds-txt-green {
  color: #00bd70; }
.bds-txt-green-85 {
  color: #00c884; }
.bds-txt-green-65 {
  color: #5fd6a0; }
.bds-txt-yellow {
  color: #ff9e16; }
.bds-txt-yellow-85 {
  color: #ffad45; }
.bds-txt-yellow-65 {
  color: #ffc072; }
.bds-txt-purple {
  color: #8547ad; }
.bds-txt-purple-85 {
  color: #9862b9; }
.bds-txt-purple-65 {
  color: #b388cb; }
.bds-txt-white {
  color: #fff; }
.bds-txt-black {
  color: #000; }

/*bg color*/
.bds-bg-grey {
  background-color: #333E48; }
.bds-bg-grey-85 {
  background-color: #4E5760; }
.bds-bg-grey-65 {
  background-color: #757C83; }
.bds-bg-grey-45 {
  background-color: #9EA2A7; }
.bds-bg-grey-15 {
  background-color: #e3e2e2; }
.bds-bg-grey-05 {
  background-color: #f0f0f0; }
.bds-bg-blue {
  background-color: #0075C9; }
.bds-bg-blue-85 {
  background-color: #0088D1; }
.bds-bg-blue-65 {
  background-color: #4DA3DC; }
.bds-bg-blue-45 {
  background-color: #8DBEE7; }
.bds-bg-dark-blue {
  background-color: #004876; }
.bds-bg-dark-blue-85 {
  background-color: #356189; }
.bds-bg-red {
  background-color: #F42534; }
.bds-bg-red-85 {
  background-color: #FC564F; }
.bds-bg-red-65 {
  background-color: #ff988a; }
.bds-bg-green {
  background-color: #00bd70; }
.bds-bg-green-85 {
  background-color: #00c884; }
.bds-bg-green-65 {
  background-color: #5fd6a0; }
.bds-bg-yellow {
  background-color: #ff9e16; }
.bds-bg-yellow-85 {
  background-color: #ffad45; }
.bds-bg-yellow-65 {
  background-color: #ffc072; }
.bds-bg-purple {
  background-color: #8547ad; }
.bds-bg-purple-85 {
  background-color: #9862b9; }
.bds-bg-purple-65 {
  background-color: #b388cb; }
.bds-bg-white {
  background-color: #fff; }
.bds-bg-black {
  background-color: #000; }

/*border color*/
[class^='bds-border'], [class*=' bds-border'] {
  border: 1px;
  border-style: solid; }

.bds-border-grey {
  border-color: #333E48; }
.bds-border-grey-85 {
  border-color: #4E5760; }
.bds-border-grey-65 {
  border-color: #757C83; }
.bds-border-grey-45 {
  border-color: #9EA2A7; }
.bds-border-grey-15 {
  border-color: #e3e2e2; }
.bds-border-grey-05 {
  border-color: #f0f0f0; }
.bds-border-blue {
  border-color: #0075C9; }
.bds-border-blue-85 {
  border-color: #0088D1; }
.bds-border-blue-65 {
  border-color: #4DA3DC; }
.bds-border-blue-45 {
  border-color: #8DBEE7; }
.bds-border-dark-blue {
  border-color: #004876; }
.bds-border-dark-blue-85 {
  border-color: #356189; }
.bds-border-red {
  border-color: #F42534; }
.bds-border-red-85 {
  border-color: #FC564F; }
.bds-border-red-65 {
  border-color: #ff988a; }
.bds-border-green {
  border-color: #00bd70; }
.bds-border-green-85 {
  border-color: #00c884; }
.bds-border-green-65 {
  border-color: #5fd6a0; }
.bds-border-yellow {
  border-color: #ff9e16; }
.bds-border-yellow-85 {
  border-color: #ffad45; }
.bds-border-yellow-65 {
  border-color: #ffc072; }
.bds-border-purple {
  border-color: #8547ad; }
.bds-border-purple-85 {
  border-color: #9862b9; }
.bds-border-purple-65 {
  border-color: #b388cb; }
.bds-border-white {
  border-color: #fff; }
.bds-border-black {
  border-color: #000; }

/*hover background color*/
.bds-hov {
  /*hover txt color*/ }
  .bds-hov-bg-grey:hover {
    background-color: #333E48; }
  .bds-hov-bg-grey-85:hover {
    background-color: #4E5760; }
  .bds-hov-bg-grey-65:hover {
    background-color: #757C83; }
  .bds-hov-bg-grey-45:hover {
    background-color: #9EA2A7; }
  .bds-hov-bg-grey-15:hover {
    background-color: #e3e2e2; }
  .bds-hov-bg-grey-05:hover {
    background-color: #f0f0f0; }
  .bds-hov-bg-blue:hover {
    background-color: #0075C9; }
  .bds-hov-bg-blue-85:hover {
    background-color: #0088D1; }
  .bds-hov-bg-blue-65:hover {
    background-color: #4DA3DC; }
  .bds-hov-bg-blue-45:hover {
    background-color: #8DBEE7; }
  .bds-hov-bg-dark-blue:hover {
    background-color: #004876; }
  .bds-hov-bg-dark-blue-85:hover {
    background-color: #356189; }
  .bds-hov-bg-red:hover {
    background-color: #F42534; }
  .bds-hov-bg-red-85:hover {
    background-color: #FC564F; }
  .bds-hov-bg-red-65:hover {
    background-color: #ff988a; }
  .bds-hov-bg-green:hover {
    background-color: #00bd70; }
  .bds-hov-bg-green-85:hover {
    background-color: #00c884; }
  .bds-hov-bg-green-65:hover {
    background-color: #5fd6a0; }
  .bds-hov-bg-yellow:hover {
    background-color: #ff9e16; }
  .bds-hov-bg-yellow-85:hover {
    background-color: #ffad45; }
  .bds-hov-bg-yellow-65:hover {
    background-color: #ffc072; }
  .bds-hov-bg-purple:hover {
    background-color: #8547ad; }
  .bds-hov-bg-purple-85:hover {
    background-color: #9862b9; }
  .bds-hov-bg-purple-65:hover {
    background-color: #b388cb; }
  .bds-hov-bg-white:hover {
    background-color: #fff; }
  .bds-hov-bg-black:hover {
    background-color: #000; }
  .bds-hov-txt-grey:hover {
    color: #333E48; }
  .bds-hov-txt-grey-85:hover {
    color: #4E5760; }
  .bds-hov-txt-grey-65:hover {
    color: #757C83; }
  .bds-hov-txt-grey-45:hover {
    color: #9EA2A7; }
  .bds-hov-txt-grey-15:hover {
    color: #e3e2e2; }
  .bds-hov-txt-grey-05:hover {
    color: #f0f0f0; }
  .bds-hov-txt-blue:hover {
    color: #0075C9; }
  .bds-hov-txt-blue-85:hover {
    color: #0088D1; }
  .bds-hov-txt-blue-65:hover {
    color: #4DA3DC; }
  .bds-hov-txt-blue-45:hover {
    color: #8DBEE7; }
  .bds-hov-txt-dark-blue:hover {
    color: #004876; }
  .bds-hov-txt-dark-blue-85:hover {
    color: #356189; }
  .bds-hov-txt-red:hover {
    color: #F42534; }
  .bds-hov-txt-red-85:hover {
    color: #FC564F; }
  .bds-hov-txt-red-65:hover {
    color: #ff988a; }
  .bds-hov-txt-green:hover {
    color: #00bd70; }
  .bds-hov-txt-green-85:hover {
    color: #00c884; }
  .bds-hov-txt-green-65:hover {
    color: #5fd6a0; }
  .bds-hov-txt-yellow:hover {
    color: #ff9e16; }
  .bds-hov-txt-yellow-85:hover {
    color: #ffad45; }
  .bds-hov-txt-yellow-65:hover {
    color: #ffc072; }
  .bds-hov-txt-purple:hover {
    color: #8547ad; }
  .bds-hov-txt-purple-85:hover {
    color: #9862b9; }
  .bds-hov-txt-purple-65:hover {
    color: #b388cb; }
  .bds-hov-txt-white:hover {
    color: #fff; }
  .bds-hov-txt-black:hover {
    color: #000; }
