@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%; }

*,
html,
button,
input,
select,
textarea {
  font-family: "Open Sans", Helvetica, Arial; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

img {
  max-width: 100%;
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

a, textarea, input, button {
  outline: none; }

.bds-container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto; }

.bds-col,
.bds-col-1,
.bds-col-2,
.bds-col-3,
.bds-col-4,
.bds-col-5,
.bds-col-6,
.bds-col-7,
.bds-col-8,
.bds-col-9,
.bds-col-10,
.bds-col-11,
.bds-col-12,
.bds-col-xs-1,
.bds-col-sm-1,
.bds-col-md-1,
.bds-col-lg-1,
.bds-col-xs-2,
.bds-col-sm-2,
.bds-col-md-2,
.bds-col-lg-2,
.bds-col-xs-3,
.bds-col-sm-3,
.bds-col-md-3,
.bds-col-lg-3,
.bds-col-xs-4,
.bds-col-sm-4,
.bds-col-md-4,
.bds-col-lg-4,
.bds-col-xs-5,
.bds-col-sm-5,
.bds-col-md-5,
.bds-col-lg-5,
.bds-col-xs-6,
.bds-col-sm-6,
.bds-col-md-6,
.bds-col-lg-6,
.bds-col-xs-7,
.bds-col-sm-7,
.bds-col-md-7,
.bds-col-lg-7,
.bds-col-xs-8,
.bds-col-sm-8,
.bds-col-md-8,
.bds-col-lg-8,
.bds-col-xs-9,
.bds-col-sm-9,
.bds-col-md-9,
.bds-col-lg-9,
.bds-col-xs-10,
.bds-col-sm-10,
.bds-col-md-10,
.bds-col-lg-10,
.bds-col-xs-11,
.bds-col-sm-11,
.bds-col-md-11,
.bds-col-lg-11,
.bds-col-xs-12,
.bds-col-sm-12,
.bds-col-md-12,
.bds-col-lg-12 {
  position: relative;
  min-height: 1px; }

.bds-col,
.bds-col-1,
.bds-col-2,
.bds-col-3,
.bds-col-4,
.bds-col-5,
.bds-col-6,
.bds-col-7,
.bds-col-8,
.bds-col-9,
.bds-col-10,
.bds-col-11,
.bds-col-12,
.bds-col-xs-1,
.bds-col-xs-2,
.bds-col-xs-3,
.bds-col-xs-4,
.bds-col-xs-5,
.bds-col-xs-6,
.bds-col-xs-7,
.bds-col-xs-8,
.bds-col-xs-9,
.bds-col-xs-10,
.bds-col-xs-11,
.bds-col-xs-12 {
  float: left; }

.bds-col-1 {
  width: 8.333333%; }

.bds-col-2 {
  width: 16.666667%; }

.bds-col-3 {
  width: 25%; }

.bds-col-4 {
  width: 33.333333%; }

.bds-col-5 {
  width: 41.666667%; }

.bds-col-6 {
  width: 50%; }

.bds-col-7 {
  width: 58.333333%; }

.bds-col-8 {
  width: 66.666667%; }

.bds-col-9 {
  width: 75%; }

.bds-col-10 {
  width: 83.333333%; }

.bds-col-11 {
  width: 91.666667%; }

.bds-col-12 {
  width: 100%; }

@media (min-width: 480px) {
  .bds-col,
  .bds-col-sm-1,
  .bds-col-sm-2,
  .bds-col-sm-3,
  .bds-col-sm-4,
  .bds-col-sm-5,
  .bds-col-sm-6,
  .bds-col-sm-7,
  .bds-col-sm-8,
  .bds-col-sm-9,
  .bds-col-sm-10,
  .bds-col-sm-11,
  .bds-col-sm-12 {
    float: left; }

  .bds-col-sm-12 {
    width: 100%; }

  .bds-col-sm-11 {
    width: 91.66666667%; }

  .bds-col-sm-10 {
    width: 83.33333333%; }

  .bds-col-sm-9 {
    width: 75%; }

  .bds-col-sm-8 {
    width: 66.66666667%; }

  .bds-col-sm-7 {
    width: 58.33333333%; }

  .bds-col-sm-6 {
    width: 50%; }

  .bds-col-sm-5 {
    width: 41.66666667%; }

  .bds-col-sm-4 {
    width: 33.33333333%; }

  .bds-col-sm-3 {
    width: 25%; }

  .bds-col-sm-2 {
    width: 16.66666667%; }

  .bds-col-sm-1 {
    width: 8.33333333%; }

  .bds-col-sm-offset-12 {
    margin-left: 100%; }

  .bds-col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .bds-col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .bds-col-sm-offset-9 {
    margin-left: 75%; }

  .bds-col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .bds-col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .bds-col-sm-offset-6 {
    margin-left: 50%; }

  .bds-col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .bds-col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .bds-col-sm-offset-3 {
    margin-left: 25%; }

  .bds-col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .bds-col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .bds-col-sm-offset-0 {
    margin-left: 0%; } }
@media (min-width: 768px) {
  .bds-col,
  .bds-col-md-1,
  .bds-col-md-2,
  .bds-col-md-3,
  .bds-col-md-4,
  .bds-col-md-5,
  .bds-col-md-6,
  .bds-col-md-7,
  .bds-col-md-8,
  .bds-col-md-9,
  .bds-col-md-10,
  .bds-col-md-11,
  .bds-col-md-12 {
    float: left; }

  .bds-col-md-12 {
    width: 100%; }

  .bds-col-md-11 {
    width: 91.66666667%; }

  .bds-col-md-10 {
    width: 83.33333333%; }

  .bds-col-md-9 {
    width: 75%; }

  .bds-col-md-8 {
    width: 66.66666667%; }

  .bds-col-md-7 {
    width: 58.33333333%; }

  .bds-col-md-6 {
    width: 50%; }

  .bds-col-md-5 {
    width: 41.66666667%; }

  .bds-col-md-4 {
    width: 33.33333333%; }

  .bds-col-md-3 {
    width: 25%; }

  .bds-col-md-2 {
    width: 16.66666667%; }

  .bds-col-md-1 {
    width: 8.33333333%; }

  .bds-col-md-offset-12 {
    margin-left: 100%; }

  .bds-col-md-offset-11 {
    margin-left: 91.66666667%; }

  .bds-col-md-offset-10 {
    margin-left: 83.33333333%; }

  .bds-col-md-offset-9 {
    margin-left: 75%; }

  .bds-col-md-offset-8 {
    margin-left: 66.66666667%; }

  .bds-col-md-offset-7 {
    margin-left: 58.33333333%; }

  .bds-col-md-offset-6 {
    margin-left: 50%; }

  .bds-col-md-offset-5 {
    margin-left: 41.66666667%; }

  .bds-col-md-offset-4 {
    margin-left: 33.33333333%; }

  .bds-col-md-offset-3 {
    margin-left: 25%; }

  .bds-col-md-offset-2 {
    margin-left: 16.66666667%; }

  .bds-col-md-offset-1 {
    margin-left: 8.33333333%; }

  .bds-col-md-offset-0 {
    margin-left: 0%; } }
@media (min-width: 992px) {
  .bds-col,
  .bds-col-lg-1,
  .bds-col-lg-2,
  .bds-col-lg-3,
  .bds-col-lg-4,
  .bds-col-lg-5,
  .bds-col-lg-6,
  .bds-col-lg-7,
  .bds-col-lg-8,
  .bds-col-lg-9,
  .bds-col-lg-10,
  .bds-col-lg-11,
  .bds-col-lg-12 {
    float: left; }

  .bds-col-lg-12 {
    width: 100%; }

  .bds-col-lg-11 {
    width: 91.66666667%; }

  .bds-col-lg-10 {
    width: 83.33333333%; }

  .bds-col-lg-9 {
    width: 75%; }

  .bds-col-lg-8 {
    width: 66.66666667%; }

  .bds-col-lg-7 {
    width: 58.33333333%; }

  .bds-col-lg-6 {
    width: 50%; }

  .bds-col-lg-5 {
    width: 41.66666667%; }

  .bds-col-lg-4 {
    width: 33.33333333%; }

  .bds-col-lg-3 {
    width: 25%; }

  .bds-col-lg-2 {
    width: 16.66666667%; }

  .bds-col-lg-1 {
    width: 8.33333333%; }

  .bds-col-lg-offset-12 {
    margin-left: 100%; }

  .bds-col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .bds-col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .bds-col-lg-offset-9 {
    margin-left: 75%; }

  .bds-col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .bds-col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .bds-col-lg-offset-6 {
    margin-left: 50%; }

  .bds-col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .bds-col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .bds-col-lg-offset-3 {
    margin-left: 25%; }

  .bds-col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .bds-col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .bds-col-lg-offset-0 {
    margin-left: 0%; } }
.clearfix,
.clearfix::before,
.clearfix::after,
.bds-container::before,
.bds-container::after,
.bds-container-fluid::before,
.bds-container-fluid::after,
.bds-row::before,
.bds-row::after {
  content: ' ';
  display: table; }

.clearfix::after,
.bds-container::after,
.bds-container-fluid::after,
.bds-row::after {
  clear: both; }

*,
*::before,
*::after {
  box-sizing: border-box; }

.bds-row.bds-flex::before,
.bds-row.bds-flex::after,
.bds-row.bds-flex > div::before,
.bds-row.bds-flex > div::after,
.bds-row.bds-inline-flex::before,
.bds-row.bds-inline-flex::after,
.bds-row.bds-inline-flex > div::before,
.bds-row.bds-inline-flex > div::after {
  content: normal; }

a {
  text-decoration: none;
  font-weight: 400;
  background-color: transparent;
  transition: background-color 160ms linear, color 160ms linear, border-color 160ms linear;
  color: #0075C9; }

a:hover {
  color: #004876; }

p {
  line-height: 1.5em;
  margin: 0; }

.bds-lh-1 {
  line-height: 1.1em; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400; }

h1,
.bds-h1 {
  font-size: 2.75rem; }

h2,
.bds-h2 {
  font-size: 2.5rem; }

h3,
.bds-h3 {
  font-size: 2.25rem; }

h4,
.bds-h4 {
  font-size: 1.5rem; }

h5,
.bds-h5 {
  font-size: 1.37rem; }

h6,
.bds-h6 {
  font-size: 1.25rem; }

.bds-b1 {
  font-size: 1.125rem; }
.bds-b2 {
  font-size: 1rem; }
.bds-b3 {
  font-size: 0.875rem; }
.bds-b4 {
  font-size: 0.75rem; }
.bds-l1 {
  font-size: 0.6875rem; }

.bds-txt-44 {
  font-size: 2.75rem; }
.bds-txt-40 {
  font-size: 2.5rem; }
.bds-txt-34 {
  font-size: 2.25rem; }
.bds-txt-24 {
  font-size: 1.5rem; }
.bds-txt-22 {
  font-size: 1.37rem; }
.bds-txt-20 {
  font-size: 1.25rem; }
.bds-txt-18 {
  font-size: 1.125rem; }
.bds-txt-16 {
  font-size: 1rem; }
.bds-txt-14 {
  font-size: 0.875rem; }
.bds-txt-12 {
  font-size: 0.75rem; }
.bds-txt-11 {
  font-size: 0.6875rem; }
.bds-txt-light {
  font-weight: 300; }
.bds-txt-regular {
  font-weight: 400; }
.bds-txt-semi-bold {
  font-weight: 600; }
.bds-txt-bold {
  font-weight: 700; }
.bds-txt-upper {
  text-transform: uppercase; }
.bds-txt-lower {
  text-transform: lowercase; }
.bds-txt-left {
  text-align: left; }
.bds-txt-right {
  text-align: right; }
.bds-txt-center {
  text-align: center; }
.bds-txt-wrap {
  white-space: normal; }
.bds-txt-nowrap {
  white-space: nowrap; }

.bds-hov-txt-light:hover {
  font-weight: 300; }
.bds-hov-txt-regular:hover {
  font-weight: 400; }
.bds-hov-txt-semi-bold:hover {
  font-weight: 600; }
.bds-hov-txt-bold:hover {
  font-weight: 700; }

@media screen and (min-width: 768px) {
  .bds-txt-md-left {
    text-align: left; }
  .bds-txt-md-right {
    text-align: right; }
  .bds-txt-md-center {
    text-align: center; } }
@media screen and (min-width: 992px) {
  .bds-txt-lg-left {
    text-align: left; }
  .bds-txt-lg-right {
    text-align: right; }
  .bds-txt-lg-center {
    text-align: center; } }
@media screen and (max-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0; }

  h1,
  .bds-h1 {
    font-size: 2.2rem; }

  h2,
  .bds-h2 {
    font-size: 2rem; }

  h3,
  .bds-h3 {
    font-size: 1.8rem; }

  h4,
  .bds-h4 {
    font-size: 1.2rem; }

  h5,
  .bds-h5 {
    font-size: 1.096rem; }

  h6,
  .bds-h6 {
    font-size: 1.0625rem; }

  .bds-b1 {
    font-size: 0.9rem; }
  .bds-b2 {
    font-size: 0.9rem; }
  .bds-b3 {
    font-size: 0.7875rem; }
  .bds-b4 {
    font-size: 0.675rem; }
  .bds-l1 {
    font-size: 0.61875rem; }

  .bds-txt-44 {
    font-size: 2.2rem; }
  .bds-txt-40 {
    font-size: 2rem; }
  .bds-txt-34 {
    font-size: 1.8rem; }
  .bds-txt-24 {
    font-size: 1.2rem; }
  .bds-txt-22 {
    font-size: 1.096rem; }
  .bds-txt-20 {
    font-size: 1.0625rem; }
  .bds-txt-18 {
    font-size: 0.9rem; }
  .bds-txt-16 {
    font-size: 0.85rem; }
  .bds-txt-14 {
    font-size: 0.7875rem; }
  .bds-txt-12 {
    font-size: 0.675rem; }
  .bds-txt-11 {
    font-size: 0.61875rem; } }
.bds-space-xxs {
  height: 0.5rem;
  width: 0.5rem; }
.bds-space-xs {
  height: 1rem;
  width: 1rem; }
.bds-space-sm {
  height: 1.5rem;
  width: 1.5rem; }
.bds-space-md {
  height: 2rem;
  width: 2rem; }
.bds-space-lg {
  height: 3rem;
  width: 3rem; }
.bds-space-xl {
  height: 4.2rem;
  width: 4.2rem; }
.bds-space-xxl {
  height: 5.5rem;
  width: 5.5rem; }

.bds-pad-xxs {
  padding: 0.5rem; }
.bds-pad-xs {
  padding: 1rem; }
.bds-pad-sm {
  padding: 1.5rem; }
.bds-pad-md {
  padding: 2rem; }
.bds-pad-lg {
  padding: 3rem; }
.bds-pad-xl {
  padding: 4.2rem; }
.bds-pad-xxl {
  padding: 5.5rem; }
.bds-pad-all-0 {
  padding: 0; }
.bds-pad-all-xxs {
  padding: 0.5rem; }
.bds-pad-all-xs {
  padding: 1rem; }
.bds-pad-all-sm {
  padding: 1.5rem; }
.bds-pad-all-md {
  padding: 2rem; }
.bds-pad-all-lg {
  padding: 3rem; }
.bds-pad-all-xl {
  padding: 4.2rem; }
.bds-pad-all-xxl {
  padding: 5.5rem; }
.bds-pad-t-0 {
  padding-top: 0; }
.bds-pad-t-xxs {
  padding-top: 0.5rem; }
.bds-pad-t-xs {
  padding-top: 1rem; }
.bds-pad-t-sm {
  padding-top: 1.5rem; }
.bds-pad-t-md {
  padding-top: 2rem; }
.bds-pad-t-lg {
  padding-top: 3rem; }
.bds-pad-t-xl {
  padding-top: 4.2rem; }
.bds-pad-t-xxl {
  padding-top: 5.5rem; }
.bds-pad-b-0 {
  padding-bottom: 0; }
.bds-pad-b-xxs {
  padding-bottom: 0.5rem; }
.bds-pad-b-xs {
  padding-bottom: 1rem; }
.bds-pad-b-sm {
  padding-bottom: 1.5rem; }
.bds-pad-b-md {
  padding-bottom: 2rem; }
.bds-pad-b-lg {
  padding-bottom: 3rem; }
.bds-pad-b-xl {
  padding-bottom: 4.2rem; }
.bds-pad-b-xxl {
  padding-bottom: 5.5rem; }
.bds-pad-y-0 {
  padding-top: 0;
  padding-bottom: 0; }
.bds-pad-y-xxs {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }
.bds-pad-y-xs {
  padding-top: 1rem;
  padding-bottom: 1rem; }
.bds-pad-y-sm {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }
.bds-pad-y-md {
  padding-top: 2rem;
  padding-bottom: 2rem; }
.bds-pad-y-lg {
  padding-top: 3rem;
  padding-bottom: 3rem; }
.bds-pad-y-xl {
  padding-top: 4.2rem;
  padding-bottom: 4.2rem; }
.bds-pad-y-xxl {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem; }
.bds-pad-l-0 {
  padding-left: 0; }
.bds-pad-l-xxs {
  padding-left: 0.5rem; }
.bds-pad-l-xs {
  padding-left: 1rem; }
.bds-pad-l-sm {
  padding-left: 1.5rem; }
.bds-pad-l-md {
  padding-left: 2rem; }
.bds-pad-l-lg {
  padding-left: 3rem; }
.bds-pad-l-xl {
  padding-left: 4.2rem; }
.bds-pad-l-xxl {
  padding-left: 5.5rem; }
.bds-pad-r-0 {
  padding-right: 0; }
.bds-pad-r-xxs {
  padding-right: 0.5rem; }
.bds-pad-r-xs {
  padding-right: 1rem; }
.bds-pad-r-sm {
  padding-right: 1.5rem; }
.bds-pad-r-md {
  padding-right: 2rem; }
.bds-pad-r-lg {
  padding-right: 3rem; }
.bds-pad-r-xl {
  padding-right: 4.2rem; }
.bds-pad-r-xxl {
  padding-right: 5.5rem; }
.bds-pad-x-0 {
  padding-left: 0;
  padding-right: 0; }
.bds-pad-x-xxs {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }
.bds-pad-x-xs {
  padding-left: 1rem;
  padding-right: 1rem; }
.bds-pad-x-sm {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }
.bds-pad-x-md {
  padding-left: 2rem;
  padding-right: 2rem; }
.bds-pad-x-lg {
  padding-left: 3rem;
  padding-right: 3rem; }
.bds-pad-x-xl {
  padding-left: 4.2rem;
  padding-right: 4.2rem; }
.bds-pad-x-xxl {
  padding-left: 5.5rem;
  padding-right: 5.5rem; }

.bds-marg-xxs {
  margin: 0.5rem; }
.bds-marg-xs {
  margin: 1rem; }
.bds-marg-sm {
  margin: 1.5rem; }
.bds-marg-md {
  margin: 2rem; }
.bds-marg-lg {
  margin: 3rem; }
.bds-marg-xl {
  margin: 4.2rem; }
.bds-marg-xxl {
  margin: 5.5rem; }
.bds-marg-all-0 {
  margin: 0; }
.bds-marg-all-xxs {
  margin: 0.5rem; }
.bds-marg-all-xs {
  margin: 1rem; }
.bds-marg-all-sm {
  margin: 1.5rem; }
.bds-marg-all-md {
  margin: 2rem; }
.bds-marg-all-lg {
  margin: 3rem; }
.bds-marg-all-xl {
  margin: 4.2rem; }
.bds-marg-all-xxl {
  margin: 5.5rem; }
.bds-marg-t-0 {
  margin-top: 0; }
.bds-marg-t-xxs {
  margin-top: 0.5rem; }
.bds-marg-t-xs {
  margin-top: 1rem; }
.bds-marg-t-sm {
  margin-top: 1.5rem; }
.bds-marg-t-md {
  margin-top: 2rem; }
.bds-marg-t-lg {
  margin-top: 3rem; }
.bds-marg-t-xl {
  margin-top: 4.2rem; }
.bds-marg-t-xxl {
  margin-top: 5.5rem; }
.bds-marg-b-0 {
  margin-bottom: 0; }
.bds-marg-b-xxs {
  margin-bottom: 0.5rem; }
.bds-marg-b-xs {
  margin-bottom: 1rem; }
.bds-marg-b-sm {
  margin-bottom: 1.5rem; }
.bds-marg-b-md {
  margin-bottom: 2rem; }
.bds-marg-b-lg {
  margin-bottom: 3rem; }
.bds-marg-b-xl {
  margin-bottom: 4.2rem; }
.bds-marg-b-xxl {
  margin-bottom: 5.5rem; }
.bds-marg-y-0 {
  margin-top: 0;
  margin-bottom: 0; }
.bds-marg-y-xxs {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }
.bds-marg-y-xs {
  margin-top: 1rem;
  margin-bottom: 1rem; }
.bds-marg-y-sm {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }
.bds-marg-y-md {
  margin-top: 2rem;
  margin-bottom: 2rem; }
.bds-marg-y-lg {
  margin-top: 3rem;
  margin-bottom: 3rem; }
.bds-marg-y-xl {
  margin-top: 4.2rem;
  margin-bottom: 4.2rem; }
.bds-marg-y-xxl {
  margin-top: 5.5rem;
  margin-bottom: 5.5rem; }
.bds-marg-l-0 {
  margin-left: 0; }
.bds-marg-l-xxs {
  margin-left: 0.5rem; }
.bds-marg-l-xs {
  margin-left: 1rem; }
.bds-marg-l-sm {
  margin-left: 1.5rem; }
.bds-marg-l-md {
  margin-left: 2rem; }
.bds-marg-l-lg {
  margin-left: 3rem; }
.bds-marg-l-xl {
  margin-left: 4.2rem; }
.bds-marg-l-xxl {
  margin-left: 5.5rem; }
.bds-marg-r-0 {
  margin-right: 0; }
.bds-marg-r-xxs {
  margin-right: 0.5rem; }
.bds-marg-r-xs {
  margin-right: 1rem; }
.bds-marg-r-sm {
  margin-right: 1.5rem; }
.bds-marg-r-md {
  margin-right: 2rem; }
.bds-marg-r-lg {
  margin-right: 3rem; }
.bds-marg-r-xl {
  margin-right: 4.2rem; }
.bds-marg-r-xxl {
  margin-right: 5.5rem; }
.bds-marg-x-0 {
  margin-left: 0;
  margin-right: 0; }
.bds-marg-x-xxs {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }
.bds-marg-x-xs {
  margin-left: 1rem;
  margin-right: 1rem; }
.bds-marg-x-sm {
  margin-left: 1.5rem;
  margin-right: 1.5rem; }
.bds-marg-x-md {
  margin-left: 2rem;
  margin-right: 2rem; }
.bds-marg-x-lg {
  margin-left: 3rem;
  margin-right: 3rem; }
.bds-marg-x-xl {
  margin-left: 4.2rem;
  margin-right: 4.2rem; }
.bds-marg-x-xxl {
  margin-left: 5.5rem;
  margin-right: 5.5rem; }

@media (min-width: 992px) {
  .bds-pad-lg-0 {
    padding: 0; }
  .bds-pad-lg-xxs {
    padding: 0.5rem; }
  .bds-pad-lg-xs {
    padding: 1rem; }
  .bds-pad-lg-sm {
    padding: 1.5rem; }
  .bds-pad-lg-md {
    padding: 2rem; }
  .bds-pad-lg-lg {
    padding: 3rem; }
  .bds-pad-lg-xl {
    padding: 4.2rem; }
  .bds-pad-lg-xxl {
    padding: 5.5rem; }
  .bds-pad-lg-all-0 {
    padding: 0; }
  .bds-pad-lg-all-xxs {
    padding: 0.5rem; }
  .bds-pad-lg-all-xs {
    padding: 1rem; }
  .bds-pad-lg-all-sm {
    padding: 1.5rem; }
  .bds-pad-lg-all-md {
    padding: 2rem; }
  .bds-pad-lg-all-lg {
    padding: 3rem; }
  .bds-pad-lg-all-xl {
    padding: 4.2rem; }
  .bds-pad-lg-all-xxl {
    padding: 5.5rem; }
  .bds-pad-lg-t-0 {
    padding-top: 0; }
  .bds-pad-lg-t-xxs {
    padding-top: 0.5rem; }
  .bds-pad-lg-t-xs {
    padding-top: 1rem; }
  .bds-pad-lg-t-sm {
    padding-top: 1.5rem; }
  .bds-pad-lg-t-md {
    padding-top: 2rem; }
  .bds-pad-lg-t-lg {
    padding-top: 3rem; }
  .bds-pad-lg-t-xl {
    padding-top: 4.2rem; }
  .bds-pad-lg-t-xxl {
    padding-top: 5.5rem; }
  .bds-pad-lg-b-0 {
    padding-bottom: 0; }
  .bds-pad-lg-b-xxs {
    padding-bottom: 0.5rem; }
  .bds-pad-lg-b-xs {
    padding-bottom: 1rem; }
  .bds-pad-lg-b-sm {
    padding-bottom: 1.5rem; }
  .bds-pad-lg-b-md {
    padding-bottom: 2rem; }
  .bds-pad-lg-b-lg {
    padding-bottom: 3rem; }
  .bds-pad-lg-b-xl {
    padding-bottom: 4.2rem; }
  .bds-pad-lg-b-xxl {
    padding-bottom: 5.5rem; }
  .bds-pad-lg-y-0 {
    padding-top: 0;
    padding-bottom: 0; }
  .bds-pad-lg-y-xxs {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  .bds-pad-lg-y-xs {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .bds-pad-lg-y-sm {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
  .bds-pad-lg-y-md {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .bds-pad-lg-y-lg {
    padding-top: 3rem;
    padding-bottom: 3rem; }
  .bds-pad-lg-y-xl {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem; }
  .bds-pad-lg-y-xxl {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem; }
  .bds-pad-lg-l-0 {
    padding-left: 0; }
  .bds-pad-lg-l-xxs {
    padding-left: 0.5rem; }
  .bds-pad-lg-l-xs {
    padding-left: 1rem; }
  .bds-pad-lg-l-sm {
    padding-left: 1.5rem; }
  .bds-pad-lg-l-md {
    padding-left: 2rem; }
  .bds-pad-lg-l-lg {
    padding-left: 3rem; }
  .bds-pad-lg-l-xl {
    padding-left: 4.2rem; }
  .bds-pad-lg-l-xxl {
    padding-left: 5.5rem; }
  .bds-pad-lg-r-0 {
    padding-right: 0; }
  .bds-pad-lg-r-xxs {
    padding-right: 0.5rem; }
  .bds-pad-lg-r-xs {
    padding-right: 1rem; }
  .bds-pad-lg-r-sm {
    padding-right: 1.5rem; }
  .bds-pad-lg-r-md {
    padding-right: 2rem; }
  .bds-pad-lg-r-lg {
    padding-right: 3rem; }
  .bds-pad-lg-r-xl {
    padding-right: 4.2rem; }
  .bds-pad-lg-r-xxl {
    padding-right: 5.5rem; }
  .bds-pad-lg-x-0 {
    padding-left: 0;
    padding-right: 0; }
  .bds-pad-lg-x-xxs {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
  .bds-pad-lg-x-xs {
    padding-left: 1rem;
    padding-right: 1rem; }
  .bds-pad-lg-x-sm {
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
  .bds-pad-lg-x-md {
    padding-left: 2rem;
    padding-right: 2rem; }
  .bds-pad-lg-x-lg {
    padding-left: 3rem;
    padding-right: 3rem; }
  .bds-pad-lg-x-xl {
    padding-left: 4.2rem;
    padding-right: 4.2rem; }
  .bds-pad-lg-x-xxl {
    padding-left: 5.5rem;
    padding-right: 5.5rem; }

  .bds-marg-lg-0 {
    margin: 0; }
  .bds-marg-lg-xxs {
    margin: 0.5rem; }
  .bds-marg-lg-xs {
    margin: 1rem; }
  .bds-marg-lg-sm {
    margin: 1.5rem; }
  .bds-marg-lg-md {
    margin: 2rem; }
  .bds-marg-lg-lg {
    margin: 3rem; }
  .bds-marg-lg-xl {
    margin: 4.2rem; }
  .bds-marg-lg-xxl {
    margin: 5.5rem; }
  .bds-marg-lg-all-0 {
    margin: 0; }
  .bds-marg-lg-all-xxs {
    margin: 0.5rem; }
  .bds-marg-lg-all-xs {
    margin: 1rem; }
  .bds-marg-lg-all-sm {
    margin: 1.5rem; }
  .bds-marg-lg-all-md {
    margin: 2rem; }
  .bds-marg-lg-all-lg {
    margin: 3rem; }
  .bds-marg-lg-all-xl {
    margin: 4.2rem; }
  .bds-marg-lg-all-xxl {
    margin: 5.5rem; }
  .bds-marg-lg-t-0 {
    margin-top: 0; }
  .bds-marg-lg-t-xxs {
    margin-top: 0.5rem; }
  .bds-marg-lg-t-xs {
    margin-top: 1rem; }
  .bds-marg-lg-t-sm {
    margin-top: 1.5rem; }
  .bds-marg-lg-t-md {
    margin-top: 2rem; }
  .bds-marg-lg-t-lg {
    margin-top: 3rem; }
  .bds-marg-lg-t-xl {
    margin-top: 4.2rem; }
  .bds-marg-lg-t-xxl {
    margin-top: 5.5rem; }
  .bds-marg-lg-b-0 {
    margin-bottom: 0; }
  .bds-marg-lg-b-xxs {
    margin-bottom: 0.5rem; }
  .bds-marg-lg-b-xs {
    margin-bottom: 1rem; }
  .bds-marg-lg-b-sm {
    margin-bottom: 1.5rem; }
  .bds-marg-lg-b-md {
    margin-bottom: 2rem; }
  .bds-marg-lg-b-lg {
    margin-bottom: 3rem; }
  .bds-marg-lg-b-xl {
    margin-bottom: 4.2rem; }
  .bds-marg-lg-b-xxl {
    margin-bottom: 5.5rem; }
  .bds-marg-lg-y-0 {
    margin-top: 0;
    margin-bottom: 0; }
  .bds-marg-lg-y-xxs {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
  .bds-marg-lg-y-xs {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .bds-marg-lg-y-sm {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
  .bds-marg-lg-y-md {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .bds-marg-lg-y-lg {
    margin-top: 3rem;
    margin-bottom: 3rem; }
  .bds-marg-lg-y-xl {
    margin-top: 4.2rem;
    margin-bottom: 4.2rem; }
  .bds-marg-lg-y-xxl {
    margin-top: 5.5rem;
    margin-bottom: 5.5rem; }
  .bds-marg-lg-l-0 {
    margin-left: 0; }
  .bds-marg-lg-l-xxs {
    margin-left: 0.5rem; }
  .bds-marg-lg-l-xs {
    margin-left: 1rem; }
  .bds-marg-lg-l-sm {
    margin-left: 1.5rem; }
  .bds-marg-lg-l-md {
    margin-left: 2rem; }
  .bds-marg-lg-l-lg {
    margin-left: 3rem; }
  .bds-marg-lg-l-xl {
    margin-left: 4.2rem; }
  .bds-marg-lg-l-xxl {
    margin-left: 5.5rem; }
  .bds-marg-lg-r-0 {
    margin-right: 0; }
  .bds-marg-lg-r-xxs {
    margin-right: 0.5rem; }
  .bds-marg-lg-r-xs {
    margin-right: 1rem; }
  .bds-marg-lg-r-sm {
    margin-right: 1.5rem; }
  .bds-marg-lg-r-md {
    margin-right: 2rem; }
  .bds-marg-lg-r-lg {
    margin-right: 3rem; }
  .bds-marg-lg-r-xl {
    margin-right: 4.2rem; }
  .bds-marg-lg-r-xxl {
    margin-right: 5.5rem; }
  .bds-marg-lg-x-0 {
    margin-left: 0;
    margin-right: 0; }
  .bds-marg-lg-x-xxs {
    margin-left: 0.5rem;
    margin-right: 0.5rem; }
  .bds-marg-lg-x-xs {
    margin-left: 1rem;
    margin-right: 1rem; }
  .bds-marg-lg-x-sm {
    margin-left: 1.5rem;
    margin-right: 1.5rem; }
  .bds-marg-lg-x-md {
    margin-left: 2rem;
    margin-right: 2rem; }
  .bds-marg-lg-x-lg {
    margin-left: 3rem;
    margin-right: 3rem; }
  .bds-marg-lg-x-xl {
    margin-left: 4.2rem;
    margin-right: 4.2rem; }
  .bds-marg-lg-x-xxl {
    margin-left: 5.5rem;
    margin-right: 5.5rem; } }
@media (min-width: 768px) {
  .bds-pad-md-0 {
    padding: 0; }
  .bds-pad-md-xxs {
    padding: 0.5rem; }
  .bds-pad-md-xs {
    padding: 1rem; }
  .bds-pad-md-sm {
    padding: 1.5rem; }
  .bds-pad-md-md {
    padding: 2rem; }
  .bds-pad-md-lg {
    padding: 3rem; }
  .bds-pad-md-xl {
    padding: 4.2rem; }
  .bds-pad-md-xxl {
    padding: 5.5rem; }
  .bds-pad-md-all-0 {
    padding: 0; }
  .bds-pad-md-all-xxs {
    padding: 0.5rem; }
  .bds-pad-md-all-xs {
    padding: 1rem; }
  .bds-pad-md-all-sm {
    padding: 1.5rem; }
  .bds-pad-md-all-md {
    padding: 2rem; }
  .bds-pad-md-all-lg {
    padding: 3rem; }
  .bds-pad-md-all-xl {
    padding: 4.2rem; }
  .bds-pad-md-all-xxl {
    padding: 5.5rem; }
  .bds-pad-md-t-0 {
    padding-top: 0; }
  .bds-pad-md-t-xxs {
    padding-top: 0.5rem; }
  .bds-pad-md-t-xs {
    padding-top: 1rem; }
  .bds-pad-md-t-sm {
    padding-top: 1.5rem; }
  .bds-pad-md-t-md {
    padding-top: 2rem; }
  .bds-pad-md-t-lg {
    padding-top: 3rem; }
  .bds-pad-md-t-xl {
    padding-top: 4.2rem; }
  .bds-pad-md-t-xxl {
    padding-top: 5.5rem; }
  .bds-pad-md-b-0 {
    padding-bottom: 0; }
  .bds-pad-md-b-xxs {
    padding-bottom: 0.5rem; }
  .bds-pad-md-b-xs {
    padding-bottom: 1rem; }
  .bds-pad-md-b-sm {
    padding-bottom: 1.5rem; }
  .bds-pad-md-b-md {
    padding-bottom: 2rem; }
  .bds-pad-md-b-lg {
    padding-bottom: 3rem; }
  .bds-pad-md-b-xl {
    padding-bottom: 4.2rem; }
  .bds-pad-md-b-xxl {
    padding-bottom: 5.5rem; }
  .bds-pad-md-y-0 {
    padding-top: 0;
    padding-bottom: 0; }
  .bds-pad-md-y-xxs {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  .bds-pad-md-y-xs {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .bds-pad-md-y-sm {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
  .bds-pad-md-y-md {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .bds-pad-md-y-lg {
    padding-top: 3rem;
    padding-bottom: 3rem; }
  .bds-pad-md-y-xl {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem; }
  .bds-pad-md-y-xxl {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem; }
  .bds-pad-md-l-0 {
    padding-left: 0; }
  .bds-pad-md-l-xxs {
    padding-left: 0.5rem; }
  .bds-pad-md-l-xs {
    padding-left: 1rem; }
  .bds-pad-md-l-sm {
    padding-left: 1.5rem; }
  .bds-pad-md-l-md {
    padding-left: 2rem; }
  .bds-pad-md-l-lg {
    padding-left: 3rem; }
  .bds-pad-md-l-xl {
    padding-left: 4.2rem; }
  .bds-pad-md-l-xxl {
    padding-left: 5.5rem; }
  .bds-pad-md-r-0 {
    padding-right: 0; }
  .bds-pad-md-r-xxs {
    padding-right: 0.5rem; }
  .bds-pad-md-r-xs {
    padding-right: 1rem; }
  .bds-pad-md-r-sm {
    padding-right: 1.5rem; }
  .bds-pad-md-r-md {
    padding-right: 2rem; }
  .bds-pad-md-r-lg {
    padding-right: 3rem; }
  .bds-pad-md-r-xl {
    padding-right: 4.2rem; }
  .bds-pad-md-r-xxl {
    padding-right: 5.5rem; }
  .bds-pad-md-x-0 {
    padding-left: 0;
    padding-right: 0; }
  .bds-pad-md-x-xxs {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
  .bds-pad-md-x-xs {
    padding-left: 1rem;
    padding-right: 1rem; }
  .bds-pad-md-x-sm {
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
  .bds-pad-md-x-md {
    padding-left: 2rem;
    padding-right: 2rem; }
  .bds-pad-md-x-lg {
    padding-left: 3rem;
    padding-right: 3rem; }
  .bds-pad-md-x-xl {
    padding-left: 4.2rem;
    padding-right: 4.2rem; }
  .bds-pad-md-x-xxl {
    padding-left: 5.5rem;
    padding-right: 5.5rem; }

  .bds-marg-md-0 {
    margin: 0; }
  .bds-marg-md-xxs {
    margin: 0.5rem; }
  .bds-marg-md-xs {
    margin: 1rem; }
  .bds-marg-md-sm {
    margin: 1.5rem; }
  .bds-marg-md-md {
    margin: 2rem; }
  .bds-marg-md-lg {
    margin: 3rem; }
  .bds-marg-md-xl {
    margin: 4.2rem; }
  .bds-marg-md-xxl {
    margin: 5.5rem; }
  .bds-marg-md-all-0 {
    margin: 0; }
  .bds-marg-md-all-xxs {
    margin: 0.5rem; }
  .bds-marg-md-all-xs {
    margin: 1rem; }
  .bds-marg-md-all-sm {
    margin: 1.5rem; }
  .bds-marg-md-all-md {
    margin: 2rem; }
  .bds-marg-md-all-lg {
    margin: 3rem; }
  .bds-marg-md-all-xl {
    margin: 4.2rem; }
  .bds-marg-md-all-xxl {
    margin: 5.5rem; }
  .bds-marg-md-t-0 {
    margin-top: 0; }
  .bds-marg-md-t-xxs {
    margin-top: 0.5rem; }
  .bds-marg-md-t-xs {
    margin-top: 1rem; }
  .bds-marg-md-t-sm {
    margin-top: 1.5rem; }
  .bds-marg-md-t-md {
    margin-top: 2rem; }
  .bds-marg-md-t-lg {
    margin-top: 3rem; }
  .bds-marg-md-t-xl {
    margin-top: 4.2rem; }
  .bds-marg-md-t-xxl {
    margin-top: 5.5rem; }
  .bds-marg-md-b-0 {
    margin-bottom: 0; }
  .bds-marg-md-b-xxs {
    margin-bottom: 0.5rem; }
  .bds-marg-md-b-xs {
    margin-bottom: 1rem; }
  .bds-marg-md-b-sm {
    margin-bottom: 1.5rem; }
  .bds-marg-md-b-md {
    margin-bottom: 2rem; }
  .bds-marg-md-b-lg {
    margin-bottom: 3rem; }
  .bds-marg-md-b-xl {
    margin-bottom: 4.2rem; }
  .bds-marg-md-b-xxl {
    margin-bottom: 5.5rem; }
  .bds-marg-md-y-0 {
    margin-top: 0;
    margin-bottom: 0; }
  .bds-marg-md-y-xxs {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
  .bds-marg-md-y-xs {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .bds-marg-md-y-sm {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
  .bds-marg-md-y-md {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .bds-marg-md-y-lg {
    margin-top: 3rem;
    margin-bottom: 3rem; }
  .bds-marg-md-y-xl {
    margin-top: 4.2rem;
    margin-bottom: 4.2rem; }
  .bds-marg-md-y-xxl {
    margin-top: 5.5rem;
    margin-bottom: 5.5rem; }
  .bds-marg-md-l-0 {
    margin-left: 0; }
  .bds-marg-md-l-xxs {
    margin-left: 0.5rem; }
  .bds-marg-md-l-xs {
    margin-left: 1rem; }
  .bds-marg-md-l-sm {
    margin-left: 1.5rem; }
  .bds-marg-md-l-md {
    margin-left: 2rem; }
  .bds-marg-md-l-lg {
    margin-left: 3rem; }
  .bds-marg-md-l-xl {
    margin-left: 4.2rem; }
  .bds-marg-md-l-xxl {
    margin-left: 5.5rem; }
  .bds-marg-md-r-0 {
    margin-right: 0; }
  .bds-marg-md-r-xxs {
    margin-right: 0.5rem; }
  .bds-marg-md-r-xs {
    margin-right: 1rem; }
  .bds-marg-md-r-sm {
    margin-right: 1.5rem; }
  .bds-marg-md-r-md {
    margin-right: 2rem; }
  .bds-marg-md-r-lg {
    margin-right: 3rem; }
  .bds-marg-md-r-xl {
    margin-right: 4.2rem; }
  .bds-marg-md-r-xxl {
    margin-right: 5.5rem; }
  .bds-marg-md-x-0 {
    margin-left: 0;
    margin-right: 0; }
  .bds-marg-md-x-xxs {
    margin-left: 0.5rem;
    margin-right: 0.5rem; }
  .bds-marg-md-x-xs {
    margin-left: 1rem;
    margin-right: 1rem; }
  .bds-marg-md-x-sm {
    margin-left: 1.5rem;
    margin-right: 1.5rem; }
  .bds-marg-md-x-md {
    margin-left: 2rem;
    margin-right: 2rem; }
  .bds-marg-md-x-lg {
    margin-left: 3rem;
    margin-right: 3rem; }
  .bds-marg-md-x-xl {
    margin-left: 4.2rem;
    margin-right: 4.2rem; }
  .bds-marg-md-x-xxl {
    margin-left: 5.5rem;
    margin-right: 5.5rem; } }
.bds-block {
  display: block; }

.bds-inline-block {
  display: inline-block; }

.bds-left {
  float: left; }

.bds-right {
  float: right; }

.clearfix {
  clear: both; }

.bds-v-top {
  vertical-align: top; }

.bds-v-bottom {
  vertical-align: bottom; }

.bds-flex {
  display: flex;
  flex-wrap: wrap; }

.bds-inline-flex {
  display: inline-flex;
  flex-wrap: wrap; }

.bds-xy-center {
  align-items: center;
  justify-content: center; }
.bds-y-center {
  align-items: center; }
.bds-y-stretch {
  align-items: stretch; }
.bds-space-between {
  justify-content: space-between; }
.bds-space-around {
  justify-content: space-around; }

@media screen and (min-width: 992px) {
  .bds-order-1 {
    order: 1; }
  .bds-order-2 {
    order: 2; }
  .bds-order-3 {
    order: 3; }
  .bds-order-4 {
    order: 4; }
  .bds-order-5 {
    order: 5; } }
.relative,
.bds-relative {
  position: relative; }

.absolute,
.bds-absolute {
  position: absolute; }

.bds-fixed {
  position: fixed; }

.bds-tl-0 {
  top: 0;
  left: 0; }

.bds-x-center {
  left: 50%;
  transform: translateX(-50%); }

.bds-z-index-n1 {
  z-index: -1; }
.bds-z-index-0 {
  z-index: 0; }
.bds-z-index-1 {
  z-index: 1; }
.bds-z-index-2 {
  z-index: 2; }
.bds-z-index-3 {
  z-index: 3; }
.bds-z-index-4 {
  z-index: 4; }
.bds-z-index-5 {
  z-index: 5; }
.bds-z-index-10 {
  z-index: 10; }
.bds-z-index-100 {
  z-index: 100; }
.bds-z-index-500 {
  z-index: 500; }

.bds-show-at-sm,
.bds-show-at-md,
.bds-show-at-lg,
.bds-show-at-xl,
.bds-hide {
  display: none; }

@media screen and (min-width: 480px) {
  .bds-show-at-sm {
    display: block; }

  .bds-hide-at-sm {
    display: none; }

  .bds-block-sm {
    display: block !important; }

  .bds-inline-block-sm {
    display: inline-block !important; }

  .bds-hide-sm {
    display: none !important; } }
@media screen and (min-width: 768px) {
  .bds-show-at-md {
    display: block; }

  .bds-hide-at-md {
    display: none; }

  .bds-block-md {
    display: block !important; }

  .bds-inline-block-md {
    display: inline-block !important; }

  .bds-hide-md {
    display: none !important; } }
@media screen and (min-width: 992px) {
  .bds-show-at-lg {
    display: block; }

  .bds-hide-at-lg {
    display: none; }

  .bds-absolute-at-lg {
    position: absolute; }

  .bds-x-center-at-lg {
    left: 50%;
    transform: translateX(-50%); }

  .bds-block-lg {
    display: block !important; }

  .bds-inline-block-lg {
    display: inline-block !important; }

  .bds-hide-lg {
    display: none !important; } }
@media screen and (min-width: 1200px) {
  .bds-show-at-xl {
    display: block; }

  .bds-hide-at-xl {
    display: none; }

  .bds-block-xl {
    display: block !important; }

  .bds-inline-block-xl {
    display: inline-block !important; }

  .bds-hide-xl {
    display: none !important; } }
.bds-cursor-pointer {
  cursor: pointer; }

.bds-height-100 {
  height: 100%; }

.bds-width-100 {
  width: 100%; }

hr {
  height: 2px;
  border: 0;
  overflow: visible; }

[class^='bds-btn'],
[class*=' bds-btn'] {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  box-sizing: border-box;
  font-size: 0.875rem;
  font-weight: 400;
  text-decoration: none;
  height: 40px;
  width: 180px;
  padding: 6px 6px 8px 6px;
  transition: background-color 160ms linear, color 160ms linear, border-color 160ms linear; }

.bds-btn:focus {
  outline: 0; }
.bds-btn-primary {
  color: #fff;
  background-color: #0075C9; }
  .bds-btn-primary:hover {
    color: #fff;
    background-color: #004876; }
  .bds-btn-primary:focus {
    outline: 0; }
.bds-btn-primary-iv {
  color: #0075C9;
  background-color: #fff; }
  .bds-btn-primary-iv:hover {
    color: #fff;
    background-color: #0075C9; }
  .bds-btn-primary-iv:focus {
    outline: 0; }
.bds-btn-ghost {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent; }
  .bds-btn-ghost:hover {
    color: #000;
    background-color: #fff; }
  .bds-btn-ghost:focus {
    outline: 0; }
.bds-btn-secondary {
  color: #fff;
  background-color: #ff9e16; }
  .bds-btn-secondary:hover {
    color: #fff;
    background-color: #ffad45; }
  .bds-btn-secondary:focus {
    outline: 0; }

.bds-btn-auto {
  width: auto !important;
  height: auto !important;
  padding: 6px 12px 8px 12px !important; }

.bds-txt-grey {
  color: #333E48; }
.bds-txt-grey-85 {
  color: #4E5760; }
.bds-txt-grey-65 {
  color: #757C83; }
.bds-txt-grey-45 {
  color: #9EA2A7; }
.bds-txt-grey-15 {
  color: #e3e2e2; }
.bds-txt-grey-05 {
  color: #f0f0f0; }
.bds-txt-blue {
  color: #0075C9; }
.bds-txt-blue-85 {
  color: #0088D1; }
.bds-txt-blue-65 {
  color: #4DA3DC; }
.bds-txt-blue-45 {
  color: #8DBEE7; }
.bds-txt-dark-blue {
  color: #004876; }
.bds-txt-dark-blue-85 {
  color: #356189; }
.bds-txt-red {
  color: #F42534; }
.bds-txt-red-85 {
  color: #FC564F; }
.bds-txt-red-65 {
  color: #ff988a; }
.bds-txt-green {
  color: #00bd70; }
.bds-txt-green-85 {
  color: #00c884; }
.bds-txt-green-65 {
  color: #5fd6a0; }
.bds-txt-orange {
  color: #ff9e16; }
.bds-txt-orange-85 {
  color: #ffad45; }
.bds-txt-orange-65 {
  color: #ffc072; }
.bds-txt-purple {
  color: #8547ad; }
.bds-txt-purple-85 {
  color: #9862b9; }
.bds-txt-purple-65 {
  color: #b388cb; }
.bds-txt-white {
  color: #fff; }
.bds-txt-black {
  color: #000; }

.bds-bg-grey {
  background-color: #333E48; }
.bds-bg-grey-85 {
  background-color: #4E5760; }
.bds-bg-grey-65 {
  background-color: #757C83; }
.bds-bg-grey-45 {
  background-color: #9EA2A7; }
.bds-bg-grey-15 {
  background-color: #e3e2e2; }
.bds-bg-grey-05 {
  background-color: #f0f0f0; }
.bds-bg-blue {
  background-color: #0075C9; }
.bds-bg-blue-85 {
  background-color: #0088D1; }
.bds-bg-blue-65 {
  background-color: #4DA3DC; }
.bds-bg-blue-45 {
  background-color: #8DBEE7; }
.bds-bg-dark-blue {
  background-color: #004876; }
.bds-bg-dark-blue-85 {
  background-color: #356189; }
.bds-bg-red {
  background-color: #F42534; }
.bds-bg-red-85 {
  background-color: #FC564F; }
.bds-bg-red-65 {
  background-color: #ff988a; }
.bds-bg-green {
  background-color: #00bd70; }
.bds-bg-green-85 {
  background-color: #00c884; }
.bds-bg-green-65 {
  background-color: #5fd6a0; }
.bds-bg-orange {
  background-color: #ff9e16; }
.bds-bg-orange-85 {
  background-color: #ffad45; }
.bds-bg-orange-65 {
  background-color: #ffc072; }
.bds-bg-purple {
  background-color: #8547ad; }
.bds-bg-purple-85 {
  background-color: #9862b9; }
.bds-bg-purple-65 {
  background-color: #b388cb; }
.bds-bg-white {
  background-color: #fff; }
.bds-bg-black {
  background-color: #000; }

[class^='bds-border'],
[class*=' bds-border'] {
  border: 1px;
  border-style: solid; }

.bds-border-grey {
  border-color: #333E48; }
.bds-border-grey-85 {
  border-color: #4E5760; }
.bds-border-grey-65 {
  border-color: #757C83; }
.bds-border-grey-45 {
  border-color: #9EA2A7; }
.bds-border-grey-15 {
  border-color: #e3e2e2; }
.bds-border-grey-05 {
  border-color: #f0f0f0; }
.bds-border-blue {
  border-color: #0075C9; }
.bds-border-blue-85 {
  border-color: #0088D1; }
.bds-border-blue-65 {
  border-color: #4DA3DC; }
.bds-border-blue-45 {
  border-color: #8DBEE7; }
.bds-border-dark-blue {
  border-color: #004876; }
.bds-border-dark-blue-85 {
  border-color: #356189; }
.bds-border-red {
  border-color: #F42534; }
.bds-border-red-85 {
  border-color: #FC564F; }
.bds-border-red-65 {
  border-color: #ff988a; }
.bds-border-green {
  border-color: #00bd70; }
.bds-border-green-85 {
  border-color: #00c884; }
.bds-border-green-65 {
  border-color: #5fd6a0; }
.bds-border-orange {
  border-color: #ff9e16; }
.bds-border-orange-85 {
  border-color: #ffad45; }
.bds-border-orange-65 {
  border-color: #ffc072; }
.bds-border-purple {
  border-color: #8547ad; }
.bds-border-purple-85 {
  border-color: #9862b9; }
.bds-border-purple-65 {
  border-color: #b388cb; }
.bds-border-white {
  border-color: #fff; }
.bds-border-black {
  border-color: #000; }

.bds-hov-bg-grey:hover {
  background-color: #333E48; }
.bds-hov-bg-grey-85:hover {
  background-color: #4E5760; }
.bds-hov-bg-grey-65:hover {
  background-color: #757C83; }
.bds-hov-bg-grey-45:hover {
  background-color: #9EA2A7; }
.bds-hov-bg-grey-15:hover {
  background-color: #e3e2e2; }
.bds-hov-bg-grey-05:hover {
  background-color: #f0f0f0; }
.bds-hov-bg-blue:hover {
  background-color: #0075C9; }
.bds-hov-bg-blue-85:hover {
  background-color: #0088D1; }
.bds-hov-bg-blue-65:hover {
  background-color: #4DA3DC; }
.bds-hov-bg-blue-45:hover {
  background-color: #8DBEE7; }
.bds-hov-bg-dark-blue:hover {
  background-color: #004876; }
.bds-hov-bg-dark-blue-85:hover {
  background-color: #356189; }
.bds-hov-bg-red:hover {
  background-color: #F42534; }
.bds-hov-bg-red-85:hover {
  background-color: #FC564F; }
.bds-hov-bg-red-65:hover {
  background-color: #ff988a; }
.bds-hov-bg-green:hover {
  background-color: #00bd70; }
.bds-hov-bg-green-85:hover {
  background-color: #00c884; }
.bds-hov-bg-green-65:hover {
  background-color: #5fd6a0; }
.bds-hov-bg-orange:hover {
  background-color: #ff9e16; }
.bds-hov-bg-orange-85:hover {
  background-color: #ffad45; }
.bds-hov-bg-orange-65:hover {
  background-color: #ffc072; }
.bds-hov-bg-purple:hover {
  background-color: #8547ad; }
.bds-hov-bg-purple-85:hover {
  background-color: #9862b9; }
.bds-hov-bg-purple-65:hover {
  background-color: #b388cb; }
.bds-hov-bg-white:hover {
  background-color: #fff; }
.bds-hov-bg-black:hover {
  background-color: #000; }
.bds-hov-txt-grey:hover {
  color: #333E48; }
.bds-hov-txt-grey-85:hover {
  color: #4E5760; }
.bds-hov-txt-grey-65:hover {
  color: #757C83; }
.bds-hov-txt-grey-45:hover {
  color: #9EA2A7; }
.bds-hov-txt-grey-15:hover {
  color: #e3e2e2; }
.bds-hov-txt-grey-05:hover {
  color: #f0f0f0; }
.bds-hov-txt-blue:hover {
  color: #0075C9; }
.bds-hov-txt-blue-85:hover {
  color: #0088D1; }
.bds-hov-txt-blue-65:hover {
  color: #4DA3DC; }
.bds-hov-txt-blue-45:hover {
  color: #8DBEE7; }
.bds-hov-txt-dark-blue:hover {
  color: #004876; }
.bds-hov-txt-dark-blue-85:hover {
  color: #356189; }
.bds-hov-txt-red:hover {
  color: #F42534; }
.bds-hov-txt-red-85:hover {
  color: #FC564F; }
.bds-hov-txt-red-65:hover {
  color: #ff988a; }
.bds-hov-txt-green:hover {
  color: #00bd70; }
.bds-hov-txt-green-85:hover {
  color: #00c884; }
.bds-hov-txt-green-65:hover {
  color: #5fd6a0; }
.bds-hov-txt-orange:hover {
  color: #ff9e16; }
.bds-hov-txt-orange-85:hover {
  color: #ffad45; }
.bds-hov-txt-orange-65:hover {
  color: #ffc072; }
.bds-hov-txt-purple:hover {
  color: #8547ad; }
.bds-hov-txt-purple-85:hover {
  color: #9862b9; }
.bds-hov-txt-purple-65:hover {
  color: #b388cb; }
.bds-hov-txt-white:hover {
  color: #fff; }
.bds-hov-txt-black:hover {
  color: #000; }

@media (min-width: 992px) {
  .bds-bg-lg-grey {
    background-color: #333E48; }
  .bds-bg-lg-grey-85 {
    background-color: #4E5760; }
  .bds-bg-lg-grey-65 {
    background-color: #757C83; }
  .bds-bg-lg-grey-45 {
    background-color: #9EA2A7; }
  .bds-bg-lg-grey-15 {
    background-color: #e3e2e2; }
  .bds-bg-lg-grey-05 {
    background-color: #f0f0f0; }
  .bds-bg-lg-blue {
    background-color: #0075C9; }
  .bds-bg-lg-blue-85 {
    background-color: #0088D1; }
  .bds-bg-lg-blue-65 {
    background-color: #4DA3DC; }
  .bds-bg-lg-blue-45 {
    background-color: #8DBEE7; }
  .bds-bg-lg-dark-blue {
    background-color: #004876; }
  .bds-bg-lg-dark-blue-85 {
    background-color: #356189; }
  .bds-bg-lg-red {
    background-color: #F42534; }
  .bds-bg-lg-red-85 {
    background-color: #FC564F; }
  .bds-bg-lg-red-65 {
    background-color: #ff988a; }
  .bds-bg-lg-green {
    background-color: #00bd70; }
  .bds-bg-lg-green-85 {
    background-color: #00c884; }
  .bds-bg-lg-green-65 {
    background-color: #5fd6a0; }
  .bds-bg-lg-orange {
    background-color: #ff9e16; }
  .bds-bg-lg-orange-85 {
    background-color: #ffad45; }
  .bds-bg-lg-orange-65 {
    background-color: #ffc072; }
  .bds-bg-lg-purple {
    background-color: #8547ad; }
  .bds-bg-lg-purple-85 {
    background-color: #9862b9; }
  .bds-bg-lg-purple-65 {
    background-color: #b388cb; }
  .bds-bg-lg-white {
    background-color: #fff; }
  .bds-bg-lg-black {
    background-color: #000; } }
.bds-icon {
  max-width: 65px; }

.bds-icon-sm {
  max-height: 30px; }

.bds-skew {
  transform: skew(-6deg) rotate(-6deg); }

.bds-unskew > div {
  transform: skew(6deg) rotate(6deg); }
